/*


.atmUI2{
  height:740px;
  width: 612px;
 
 
  background-color: green;
  padding:1px;
  float:right;
  clear:right;
  
  margin:auto;

}

*/


body{
    overflow-x: hidden;
}

.jumbo2{

	
  
    background-color:black;
    height:1000px;
    z-index: 1;
    color:darkgrey;
    text-align:;
    padding-bottom: 180px;
}






.jumbo2 h1{
    font-size:70px;
    padding-top:540px;
    margin-bottom:100px;
    text-align: center;
    font-family:Georgia;
    margin:0px;
    color:white;

}




.jumbo2 p{
    font-size:18px;
    font-family:candara;
    text-align:center;
    

}



/*.navbar-brand{

 
 font-family: times;
  margin-left: 20px;
  font-size: 30px;
}



.navbar-inverse, .navbar-collapse{
  padding-top:10px;
  /*padding-bottom:10px; */




/*.navbar-inverse .navbar-nav > li > a{
  font-size: 17px;
}
*/













.Main{

    padding:0px;
}


.jumboMain{

    margin:auto;
    width:100%;
    height:auto;
    
    padding:auto;
    overflow:hidden;
    background-color: rgb(235, 235, 235);
}




.history{

  padding-left: 50px;
padding-right: 50px;
}




.row{
width: 95%;
margin-left:;
overflow: hidden;

}




/*    .navbar-brand{

        font-size: 25px;
        margin-left: -400px;
    }


  .navbar{

        
    }*/



/*
.ui {
    float: left;
    clear: right;
    margin: 0px;
    border: 4px solid black;
    border-radius: 10px;
    width: 608px;
    height: 511px;
    margin-top: 100px;
    display: ;
    background-color: black;
}*/


/*.uiBtop{
  font-size: 35px;
  opacity: 0.5;
  width:80px;
  height:80px;
  margin-right: 0%;
  border-radius: 20px;
   margin:100px 10px 50px 10px;   
    border: none;
padding: 5px;

}*/



















.sections{
   margin-top: 90px;
   margin-bottom: 90px;
    width:35%;
    height:auto;
    float:left;
    clear:left;
    padding-right: 5%;
    padding-left: 0%;

   
}

.sections h2{

    font-family: times;
    text-align:;
   margin-left:0px; 
margin-right:0px;
font-size: 32px;
}

.sections p{

  font-size:17px;
    font-family: helvetica;
    text-align: left;
    margin-left:0px;
    margin-right:0px;
}



.sections sup{
    font-size:12px;
}





.container-fluid{


    padding-left:0px;
}


.lead{
    font-size:22px;
}
 .img1{
    margin-right: 50px;
 }




 .thumbText{
height:700px;
font-size: 16px;

 }


.footer{

    margin-bottom:0%;
    width:100%;
    height:70px;
    background-color:darkgray;
    color:red;
    clear:right;
    padding:10px;
    text-align:left;

}


.footer .icons{
    position:relative;
    bottom: 20px;

   display:;
   font-size: 20px;
}






.text-muted{

color:white;
font-size: 20px;

}





 .thumbText{
height:740px;
font-size: 16px;


 }


  .thumbText > .caption p{
font-size:16px;
color:grey;

}






.uiXX{

margin-top: 3%;
margin-bottom: 67%;

}



/*//////////   Machine  ///////////////*/


/*/////////   MOBILE  ////////////////*/





.uiXXMOBI{

margin-top: 5%;
transform: scale(.60);
margin-bottom: 28%;

}


.Modelbuttons {

    color: grey;
    background-color: whitesnow;
    border: none;
    width: 111px;
    height: 49px;
    border-radius: 15px;
    margin: 4px 4px;
    font-weight: bold;
    font-size: 14px;

}


