/*


.atmUI2{
  height:740px;
  width: 612px;
 
 
  background-color: green;
  padding:1px;
  float:right;
  clear:right;
  
  margin:auto;

}

*/



body{
    overflow-x:hidden; 
    width: 100%;
}





.container-fluid{
    
/*    padding-right: 15px;
    padding-left: 15px;*/
}






navbar-brand{

 margin-bottom: 5px;
 font-family: times;
  
  font-size: 25px;
}


.navbar-inverse{


  color:lightgrey;
  padding-left:15px;
  padding-right:15px;

}



.navbar-inverse .navbar-nav > li > a {
    color: lightgray;
}
.navbar-nav > li > .dropdown-menu {
    width:200px;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color:black;
    color:lightgrey;
}

/*.navbar-nav > li > .dropdown-menu > li{
 
  
}*/

.dropdown-menu > li > a{
   color:lightblue;
   font-size:23px;
   text-align: center;

}



.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-brand  {
    color: lightblue;
   
}

.navbar-inverse .navbar-brand {
  font-family: times;
    color: lightgrey;
    font-size: 25px;
}


.row, .banner, .success, #team, #contact {
   width: 95%;
   margin:auto;
   margin:3% 2.5%;
   border-radius: 10px;

}

body{
  background-color: lightgrey;
}

.jumbo2{

	
    
    background-color: black;
    height:900px;

    z-index: 1;


    color:darkgrey;
    text-align:center;
    padding-bottom: 20px;
  background: url("img/intro-bg.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  border-bottom: 5px solid white;
  margin-top: -20px;
}






.jumbo2 h1{
    font-size:60px;
    padding-top:430px;
    text-align: center;
    font-family:Georgia;
    margin:0px;
    color:white;
    text-shadow: 2px 2px Black;
    padding-bottom: 40px;
}




.jumbo2 p{
    font-size:18px;
    width:60%;
    margin:auto;
    font-family:candara;
    text-align:center;
    color:lightcyan;
    text-shadow: 1px 1px Black;

}








.uiXXMOBI{

transform: scale(.60);

}











.img2x{
   background: url("img/RegVarneyATM.jpg") no-repeat center center;
background-size: 100%;
}

.img3x{
background: url("img/stressed.jpg") no-repeat center center;
background-size: 95%;


}

.img4x{

  background: url("img/Umui.png") no-repeat center center;
  background-size: 130%;
  background-color:black;
  font-size: 18px;

}





#history{

  background-color: white;
  

padding-left: 50px;
padding-right: 50px;
padding-top:0px;
padding-bottom: 0px; 

}


 
.timeline .timeline-heading h4 {

  color:black;
}



.timeline-body p{

  color:grey;
}


.timeline > li .timeline-image{
  border-radius: 10%;
  background-color: black;
  font-size:18px;
}





.atmIcons{
    position:;
    /*transform: translate(400px, 670px);*/
    font-size:38px;
    background-color:;
    width:620px;
    height:auto;
    float:right;
    display:block;
    top:190px;
    margin-top:15%; 
    margin-bottom:15%; 



}







.atmIcons a {
    margin:25px;
display:inline;
}





.Main{

    padding:0px;
}


.jumboMain{

    margin:0px;
    width:100%;
    height:auto;
    
    padding-right:;
    overflow:;
    background-color: rgb(235, 235, 235);
}





#p1{
    margin:auto;
    text-align: center;
    width:75%;
    font-family:candara;
    font-size:25px;
}

p{
    font-family: candara;
}


.onex{
  display:;
}
.twox{
  display:none;
font-family:times;}


.firstRow{

   background-color: white;
   padding: 100px 60px 150px 60px;
   
}

.img1{

 height: 470px;
 background: url("img/todayatm.jpg") no-repeat center center;
 background-size: cover;
 border-radius: 20px;
 margin-top:100px;
 border:3px solid grey;

}

.Deno label{
font-size: 16px;


}


  #atM1, #atM2{

    

    color:black;
    margin:auto;
    display:block;
  }


.moDeno{
 float:right;
 height:200px;
 width: 350px;
 background-color:;
 display:block;
 margin-top: 5%;
 margin-right: 17%;

}


.uiTemp{

   background-color:white;
   padding: 100px 0px 150px 0px;

}


.ThumbDetails{
margin-top:15%;

}



.thumbText{
height: 590px;
}

.thumbText > .caption p{
font-size:14px;
color:grey;

}

.thumbText img{
width:95%;

}




.Sdetails, .Hdetails{

   font-size:25px;
   color:grey;
   font-weight: 200;
   font-family:calibri;

}


.Sdetails:focus, .Hdetails:focus{

   font-size:25px;
   color:dark grey;
   font-weight: 100;
}

/*.uiATM{

   background-color: #f8f8f8;
   padding: 100px 60px 150px 60px;
}

.firtUI{

   background-color:white;
   padding: 100px 60px 150px 60px;
  
}

.secondUI{

   background-color:#f8f8f8;
   padding: 100px 60px 150px 60px;
   
}


.thirdUI{

   background-color:white;
   padding: 100px 60px 150px 60px;
   
}

.fourthUI{

   background-color:#f8f8f8;
   padding: 100px 60px 150px 60px;
   
}


.fithUI{

   background-color:white;
   padding: 100px 60px 150px 60px;
   */





.Sumary{
    background-color:white;
    text-align: center;
    
    font-size: 40px;
    
  
}


.
.sumary p{

    margin:auto;
}


.banner{

  
  height:500px;
  width:95%;
  
  font-size: 60px;
  color:white;
  background: url("img/banner-bg.jpg") no-repeat center center;
  background-size: cover;
text-shadow: 2px 2px Black;
padding-top: 200px;

}




.globe{

  
height: 500px;
width: 95%;
padding: 10%;
border-radius: 20px;
font-size: 50px;
color: darkcyan;
/*background: url(../img/universal4.jpg) no-repeat center center;*/
background: url("img/travel.html") no-repeat center center;
    background-size: auto auto;
background-size: cover;
/*text-shadow: 2px 2px Black;*/
margin: auto;

}

.banners{

  color:darkgrey;
  font-size: 25px;
}




.uiB{
  height:55px;
  width:55px;
  font-size: 20px;
  opacity: 0.5;
  margin-right: 0%;
  border-radius: 5px;
  border:none;


}


.uiBtop{
  font-size: 30px;
  opacity: 0.5;
  width:73px;
  height:70px;
  margin-right: 0%;
  border-radius: 20px;
   margin:50px 10px 50px 10px;   
    border: none;
padding: 5px;

}

.ico{
 /*margin-left:40%;   */
}





hr{
border:2px solid #e7e7e7;
width: 300px;

}






.showB{
  opacity: .9;
  font-size: 15px;
  border-radius: 10px;
  background-color:;
  boder:none;
  color:black;
  padding:5px;
  box-shadow: 1px 1px 20px 2px #ec971f;
  display:none;
  margin-top: 5%;
  margin-bottom: 5%;
}





.HideB{
  opacity: .9;
  font-size: 15px;
  border-radius: 10px;
  background-color:;
  
  color:black;
  padding:5px;
  box-shadow: 1px 1px 20px 2px #ec971f;
  display:none;
}





.sections1{
    width:;
    height:auto;
    float:left;
    clear:left;
    font-size: 30px;
}

.sections1 h2{

    font-family: times;
    text-align: center;
    margin-left:;
}

.sections1 p{


    text-align: center;
    margin-left:;
}






 .img1{
    margin-right: 50px;
 }


/*
.ui {
    float: left;
    clear: right;
    margin: 0px;
    border: 4px solid black;
    border-radius: 10px;
    width: 608px;
    height: 511px;
    margin-top: 100px;
    display: ;
    background-color: black;
}*/

#about{
  background-color:#233140;
  font-size: 18px;

}



.footer{

    margin-bottom:0%;
    width:100%;
    height:50px;
    background-color:darkgray;
    color:red;
    clear:right;
    padding:10px;
    text-align:left;

}








.text-muted{

color:white;

}


/*.third33{

  float:right;
 
  margin-left: 1px;

}*/


.lead, ul{

  font-size: 15px;
  color:grey;
}


.Sumary ul{
  text-align: left;
}


.row > h2{
  font-family: times;
  font-size: 40px;
  margin-bottom: 5%;
}

.lead, .ui, .ui2, .ui2x2,.ui22, .ui33, .ui44{
  margin-top: 100px;
  
}



.Sumary h2{
  font-family: times;
}


.uispacer{

  margin-top: 10px;
}



.Hdetails, .Sdetails{
margin:10%;
}




.UiVmMOdels{
  display:none;
}

#secondUI{
  display:block;
}



@media screen and (min-width: 768px) and (max-width: 2000px){

.atm1Details, .atm2Details, .vm1Details, .vm2Details, .vm3Details, .vm4Details{

   display:inline-block;
}


.Sdetails, .Hdetails{

   display:none;
}


}

@media screen and (min-width: 768px) and (max-width: 892px){


  .navbar-inverse .navbar-nav > li > a {
   font-size: 12px;

}


}





/**/




.AllModelsx4 {

    height:;
    width: inherit;
    background-color:;
    opacity:;
    padding: 80px 0px;
    position: absolute;
   display: block;
   color: grey;

}

.AllFinModels, .AllHeaders, .AllItems{
  display:block;
  float:left;
  text-align: left;
  margin-top: 30px;
  clear: left;
}



.Modelbuttons{
  color:grey;
  background-color: whitesnow;
  border:none;
  width:90px;
  height:60px;
  border-radius: 15px;
  margin:2px 1px;
  font-weight: bold;
  float:left;
}






/*////////////////////////////////////////////////////*/


.navbar-toggle {
    position: relative;
    float: right;
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border-radius: 4px;
    height: 29px;
}




.navbar{
padding-top: 0px;
color: grey;
padding-left: 15px;
padding-right: 15px;
height: 35px;
padding-top: 0px;
background-color: black;
border-bottom: none;
min-height: 30px;
opacity: .6;
}



.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-brand {
    color: grey;
}




.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
        padding-top: 5px;
        padding-bottom: 10px;
    color: grey;
}





.navbar-brand {
    float: left;
    height: 36px;
    padding: 7px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
    background-color: black;
}


/*////////////////////////////////////////////////////*/




.FFTSelectedModelx4{

background-color:silver;

}














