

.Vm1screenTbuttons{
 background-color: rgb(250, 250, 250);
width: 100%;
height: 210px;
padding: 20px 0%;
padding-right: 11%;
}




/*.screenTypeVM{
border:none;
background-color:;
color:grey;
font-family: calibri;
font-size:25px;
display:block;


background-color:;
width: 30%;
display: inline-block;

}*/


#Vm2Mobile, #Vm2Machine{
  background-color: inherit;
  border:none;
height:100px;
width: 100px;
font-size: 73px;
color:black;
}






.UI2buttons{


display: inline;
color: grey;
font-family: calibri;
font-size: 25px;

}






.NoUI2buttons button{
height: 50px;
width: 70px;
border-radius: 30px;
border: none;
margin: 0px 2px 20px 0px;
display: ;
border: none;
box-shadow: inset 0 1px 3px grey;


}



.UI2buttonsMOBI{
display:none;

color: grey;
font-family: calibri;
font-size: 25px;

}






.UI2buttonsMOBI button{
height: 50px;
width: 70px;
border-radius: 30px;
border: none;
margin: 0px 2px 20px 0px;
display: ;
border: none;
box-shadow: inset 0 1px 3px grey;


}


.SelColor {
    background-color: white;
    border: none;
    margin: 9px;
        margin-left: 9px;
    width: 90px;
    height: 69px;
    padding: 9px 0px;
}


















.ui1c{



border: none;
position:;
height:auto;
width:610px;
border-radius:10px;
display:;
background-color:black;
box-shadow: 0 20px 50px grey;

}





/*////////////*/

.ComingSoonVM2 {

height: 994px;
width: 100%;
background-color: white;
position: absolute;
z-index: 500;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
padding: 70px 54px;
display: none;

}




.ComingSoonVM2 p{
  font-family: calibri;
  font-size: 35px;
  background-color: white;
  opacity: .9;
  margin-top: 100px;
}


.Mapinput2{

    width: 500px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 1px 5px grey;
    font-size: 30px;
    text-align: center;

}


.ComingSoonMap{

       background-image: url("../img/Map.png");
       background-size: cover;
}



.ComingSoonServStat{

       background-image: url("../img/status.png");
       background-size: cover;

}

/*////////////*/



.vmUi2{

float:;
padding:0px;


}





.lan1c{
background-color:#286090;
height:63px;
width:100%;
padding:7px 10px 5px 10px;

border-top-left-radius: inherit;

border-top-right-radius: inherit;
background-image: linear-gradient(to bottom right ,#1e5789, #4180b7);
background-image: linear-gradient(to bottom right ,#0d385f, #296599);
}





.LanBxx {
    
    padding:6px 5px;
    margin:5px;
    width:110px;
    background-color:transparent;
    border: 3px solid rgb(89, 132, 170);
    font-weight: 1px; 
    color:white;
    font-size:18px; 
    font-family: arial;
}




#panel1c{

z-index: 1000;
position: absolute;
transform:translate(90px, 60px);
width:450px;
display:none;

}
.panel-heading{
  text-align: center;
}

#panel2{

z-index: 1000;
position: absolute;
transform:translate(90px, 60px);
display:none;
width:450px;

}


.itmV1c{

}


.itm1c {

    background-color: white;
    width: 100%;
    color: grey;
    text-align: center;
    height: 270px;
    padding: 27px 7px 19px 70px;
    opacity: .96;

}




.itm1cBackground {
    background-color: white;
    background-image: url("../img/mta.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.itm1cBackgroundMOBI {
    background-color: white;
    background-image: url("../img/mta.png");
    background-size: 118%;
    background-repeat: no-repeat;
    background-position: center;
}


.itmV1c {
    margin: 0px 12px 7px 8px;
        margin-left: 8px;
    margin-left: 8px;
    margin-left: 8px;
    background-color: white;
    border: none;
    border-radius: 15px;
    color: #000033;
    font-family: arial;
    box-shadow: inset 0 1px 14px ;
    padding: 9px 16px;
    height: 105px;
    width: 226px;
}



/*.itm1c li button{
   
    margin: 2px;
    margin-left: 10px;
}*/



.DropItmMenu1c {
    min-width: 135px;
    font-size: 10px;
    transform: translate(-40px, -287px);
    padding: 9px 0px;
    width: 207px;
    height: 300px;
}



.DropItmMenu1cMOBI {
    min-width: 135px;
    font-size: 10px;
    transform: translate(-40px, -476px);
    padding: 10px 5px;
    width: 301px;
    height: 358px;
}





/*
.qty1c{

background-color:#286090;
height:67px;
width:100%;
padding:0px 20px 5px 165px;  
color:white;
font-size:25px;
border-top:1px solid #286090;

}




.sub1c{
    display:;
    height:65px;
    width:80px;
  background-color:rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color:white;
    position:relative;
    right:70px;
    bottom:6px;
    
    border-radius: 5px;

    
}  




.add1c{
  display:;
    height:65px;
    width:80px;
      background-color:rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color:white;
    position:relative;
    right:70px;
    bottom:6px;
    
    border-radius: 5px;
    
}  






    
.qtyvalue1c{
background-color:#286090;
height:55px;
width:90px; 


color:white;
border:none;
font-size:50px;
position:relative;
right:70px;
text-align: center;
font-size: 50px;
top: 10px;

}*/



/*//////////////////////////*/

.qtyVMx2 {
    display:none;
    background-color: #286090;
    height: 36px;
    width: 100%;
    padding: 0px 20px 5px 165px;
    color: white;
    font-size: 25px;
    

}


.qtyvalue1cx2 {

    background-color: #286090;
    height: 41px;
    width: 74px;
    color: white;
    border: none;
    font-size: 50px;
    position: relative;
    right: 70px;
    text-align: center;
    font-size: 50px;
    top: -10px;
    border-radius: 10px;
}


.sub1cx2 {

    display: ;
    height: 56px;
    width: 72px;
    background-color: rgb(52, 121, 184);
    border:none;
    color: white;
    position: relative;
    right: 70px;
    bottom: 26px;
    border-radius: 19px;

}


.add1cx2 {

    display: ;
    height: 56px;
    width: 72px;
    background-color: rgb(52, 121, 184);
    border:none;
    color: white;
    position: relative;
    right: 70px;
    bottom: 26px;
    border-radius: 19px;

}


/*///*/


.qtyVMMOBIx2 {

    display:;
    background-color: #286090;
    height: 54px;
    width: 100%;
    padding: 0px 20px 5px 165px;
    color: white;
    font-size: 25px;

}

.qtyvalue1cMOBIx2 {

    background-color: #286090;
    height: 60px;
    width: 74px;
    color: white;
    border: none;
    font-size: 50px;
    position: relative;
    right: 70px;
    text-align: center;
    font-size: 50px;
    top: -14px;
    border-radius: 25px;


}



.sub1cMOBIx2 {

    display: ;
    height: 69px;
    width: 78px;
    background-color: rgb(52, 121, 184);
    border: none;

    color: white;
    position: relative;
    right: 70px;
    bottom: 27px;
    border-radius: 19px;

}

.add1cMOBIx2 {

    display: ;
    height: 69px;
    width: 78px;
    background-color: rgb(52, 121, 184);
    border: none;
    color: white;
    position: relative;
    right: 70px;
    bottom: 27px;
    border-radius: 19px;

}



/*/////////////////////////////*/



.qtyVMx3 {
    display: none;
    background-color: #286090;
    border-radius: 0px;
    padding: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
}
.qtyVMMOBIx3 {
    display: none;
    background-color: #286090;
    border-radius: 0px;
    padding: 0px;
    height: 56px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
}




.qtyV {
    display: ;
    background-color: #286eaa;
    padding: 5px 5px -3px 2px;
    height: 32px;
    width: 60.4px;
    font-size: 23px;
    border: none;
    color: white;
    margin-right: 4px;
    position: relative;
    bottom: -4px;
    padding-top: 2px;
}


.qtyVMOBI {
    display: ;
    background-color: #286eaa;
    padding: 5px 5px -3px 2px;
    height: 44px;
    width: 60.4px;
    font-size: 23px;
    border: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    color: white;
    margin-right: 4px;
    position: relative;
    bottom: -6px;
    padding-top: 6px;
}


/*//////////////*/









.qty1c{
  display:none;
background-color: #286090;
height: 65px;
width: 100%;
padding: 0px 0px 0px 0px;
color: white;
font-size: 25px;
border-top: 1px solid #286090;
position: absolute;

width: 269px;
border-radius: 20px;
z-index: 50;

opacity: .93;
  transform: translate(167px, -159px);
}


.sub1c {

display: ;
height: 88px;
width: 80px;
background-color: rgb(52, 121, 184);
border: 3px solid rgb(52, 121, 184);
color: white;
position: relative;
right: 2px;
bottom: 6px;
border-radius: inherit;
top: -12px;

}


.add1c {

display: ;
height: 88px;
width: 80px;

background-color: rgb(46, 109, 164);
border: 3px solid rgb(46, 109, 164);
color: white;
position: relative;
right: -4px;
bottom: 13px;
border-radius: inherit;

}

.qtyvalue1c {

background-color: #286090;
height: 55px;
width: 90px;
color: white;
border: none;
font-size: 50px;
position: relative;
right: 4px;
text-align: center;
font-size: 64px;
top: 5px;
z-index: 50;

}















.nopy2{

background-color:orange;

height:65px;
width:100%;
padding:3px 5px 5px 10px;  
font-size:20px;
}



.nopy2 label {
    width: 110px;
    padding: 13px 8px;
    margin: 2px 21px;
    background-color: orange;
    border: none;
    font-size: 1cpx;
    color: black;
    font-family: arial;
    box-shadow: inset 0 1px 13px rgb(177, 83, 0);
    height: 54px;

}






.fin1c{
background-color:white;

height: 111px;
width:100%;
border-bottom-left-radius: inherit;
border-bottom-right-radius: inherit;
padding-top: 5px;


    
}

/*.buy2 {

height: 85px;
width: auto;
position: relative;
top: 1px;
right: 30px;
display: inline-block;
border-radius: 20px;
margin-right: 30px;
margin-top: 0px;
padding: 11px 1cpx;
clear: ;



}*/


.Nobuy2 span {
    font-size: 13px;
    color: #fccb8b;
    position: absolute;
    right: 29px;
    font-weight: 10;
    top: 63px;
}



.finB1cspan{
    font-size:13px;
    color:red;
    position: relative;
    top:-10px;

}



/*.refill2{


position:relative;
top:12px;
right:30px;
display:inline-block;

border-radius:20px;
height: 80px;
float:right;
padding: 10px 18px;

}*/




.finB1c{
color: #fff;
background-color:#286090;
position:relative;
border:none;
border-radius:20px;
font-family: arial;
box-shadow: inset 0 1px 5px white;
background-image: linear-gradient(to bottom right ,#1e5789, #4180b7);
font-weight: 700;
background-image: linear-gradient(to bottom right ,#0d385f, #296599);

}




.total2{

background-color:whitesmoke;
display:inline-block;
height:70px;
width:200px; 
padding:0px ;
color:black;
font-size:55px;
margin:0px;
border:none;
text-align: center;
clear:;
font-family: arial;
border-radius: 20px;
margin: 0px 26px;

}
/*.fin1c span{

    font-size:30px;
    color:white;
}
*/






/*the x part*/









.finx span{

    font-size:30px;
    color:white;
}

.thankBuy1c {

  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 80px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
transform: translate(2px, -343px);
  box-shadow: 0 1px 10px black;
  font-family: calibri;

}

.thankBuy1c p{
font-size:20px;


}


.TapBuy2{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: inset 0 1px 5px white;
  margin: 50px auto;

}

.TapBuy2:hover{
  cursor: pointer;

  
}







.thankRefill1c{
  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 60px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  transform: translate(2px, -343px);
  box-shadow: 0 1px 10px black;
  font-family: calibri;
}

.thankRefill1c p{

font-size:20px;
}




.TapRefill2{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: inset 0 1px 5px white;
  margin: 50px auto;

}

.TapRefill2:hover{
  cursor: pointer;

  
}



.receiptP2 label, .receiptR2 label{

box-shadow: inset 0 1px 5px grey;
font-size: 35px;
border-radius: 15px;
width: 100px;

}


/*

.thankBuy {

  z-index: 500;
position:absolute;
   height:300px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(60px,  90px);
   padding:30px;
   font-size:20px;
   opacity: .90;

}



.thankRefill11{
    z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;
}*/


.check1c{
    z-index: 500;
position:absolute;
   height:400;
   width:500;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(110px,  70px);
   padding:20px;
   font-size:20px;
   opacity: .90;
   box-shadow: 0px 3px 10px black;
}



.check11{
    z-index: 500;
position:absolute;
   height:400;
   width:500;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(110px,  70px);
   padding:20px;
   font-size:20px;
   opacity: .90;
}

.pmethod1c{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}


.seItem1c{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;




}


.seOptions1c {

   z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}







.pmethod1c{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}


.seItem1c{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;




}


.seOptions1c{

   z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;



}







/*////////////////////////SendGift///////////////////////////////////////*/




.sendGiftVM2 {

    display: none;
    z-index: 500;
    position: absolute;
    text-align: center;
    width: 602px;
    height: 1094px;
/*    padding: 20px;*/
    background-color: white;
    padding: 10px 40px 10px 40px;
    font-size: 19px;
    color: grey;
    border-radius: 50px;
    margin: 4px;
    font-family: candara;
    box-shadow: 0 1px 5px grey;
    top: 0px;

}




.SendRequestVM2{
}






.SendReqVM2 {
    background-color: orange;
    width: 232px;
    display: block;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: calibri;
    font-weight: bold;
    height: 94px;
    font-size: 40px;
    padding: 18px 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #593900;
    margin-right: 3px;
}



#SendGiftVM2{
border-bottom-right-radius:0px; 
border-top-right-radius:0px;
}


#RequestGiftVM2{
border-bottom-left-radius:0px; 
border-top-left-radius:0px;
}





.gifttotalVM2{

font-size: 50px;
    font-family: ;
    right: 130px;
    top: 114px;
    font-family: calibri;
    width: 100%;
    background-color: whitesmoke;

}



.totalGiftVM2{

    position: relative;
   
    display: inline-block;
    height: 70px;
    width: 149px;
    padding: 0px;
    font-size: 65px;
    margin: 0px;
    border: none;
    text-align: left;
  
    font-family: arial;
    background-color:whitesmoke;
    color:black;
    font-family: calibri;

}

.ConfirmSend{
background-color: #286090;
    color: white;
    height: 74px;
    width: 204px;
    font-size: 32px;
    border-radius: 25px;
    box-shadow: inset 0 1px 10px white;
    border: none;
    margin-top: 20px;

}













.closeGiftVM2 {

    display: none;
    z-index: 1500;
    position: absolute;
    text-align: center;
    width: 70px;
    height: 71px;
    padding: 5px;
    background-color: transparent;
    font-size: 15px;
    color: grey;
    transform: translate(-275px, 25px);
    border: none;
    border-radius: 21px;
    font-size: 48px;
    color: red;
    font-family: arial;
    border: 1px solid lightgrey;

}




/*/////////////////////////////////////////////////*/



 .SelectFriendVM2 {

    margin: 36px 20px 7px 20px;
    width: 100%;
    padding-left: 18px;
 
}



.friendsVM2 {
  background-position: center;
  background-size: cover;

    display: inline-block;
    width: 100px;
    height: 99px;
    border-radius: 0px;
    border: 5px solid lightgrey;
margin: 23px 68px 61px 50px;
    color: whitesmoke;
    font-size: 15px;
}



.friendsLinearVM2 {
background-position: left;
background-size: 23%;
background-repeat: no-repeat;

    display: inline-block;
    width: 90%;
    height: 78px;
    border-radius: 0px;
    border: 1px solid lightgrey;
    margin: 5px 59px 5px 5px;
        margin-left: 5px;
    color: whitesmoke;
    font-size: 15px;
    background-color: transparent;

}


.friendLinearNoShowVM2{
  display:none;
}



.FQtyVM2 {

    position: absolute;
    bottom: -54px;
    left: -60px;
    width: 213px;

}
.FQtyLinearVM2 {

    position: absolute;
    bottom: 15px;
    left: 252px;
    width: 213px;

}




.FriendQtyVM2 {

    border-radius: 30px;
    border: 1px solid lightgrey;
    height: 45px;
    width: 72px;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: steelblue;


}

.FriendQtyButtonVM2{
    display:none;
    border-radius: 30px;
    border: 1px solid lightgrey;
    border:none;
    height: 45px;
    width: 50px;
    font-size: 20px;
    padding: 5px 3px 0px 5px;
    color: grey;
    background-color:whitesmoke;
}



.MemoVM2 {
    display:none;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: inset 0 2px 7px grey;
    border: none;
    color: grey;
    padding: 9px 12px 6px 13px;
    background-color: transparent;
    position: absolute;
    right: -60px;
    top: -6px;

}


.labelTextmemoVM2 {

    display: block;
    font-size: 15px;

}



.friendImputVM2 {

    width: 79px;
    height: 21px;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    border: none;
    background-color: white;
    position: relative;
    color: whitesmoke;
    top: 80px;
    right: 14px;

}




.ContactNameMOBIVM2 {

    top: -32px;
    position: absolute;
    font-size: 19px;
    left: -23px;
    font-family: calibri;
    font-weight: 500;
    width: 150px;
    border: none;
    background-color: transparent;
    color: grey;
    text-align: center;

}

.ContactNameMOBIxLinearVM2 {

    top: 27px;
    position: absolute;
    font-size: 19px;
    left: 118px;
    font-family: calibri;
    font-weight: 500;
    width: 150px;
    border: none;
    background-color: transparent;
    color: grey;
    text-align: left;

}




.SearchScanContactLabelInvoiceVM2{

  margin-top:20px;
  display:;

}

.SeachContactVM2 {
    border-radius: 15px;
    height: 60px;
    background-color: transparent;
    border: 1px solid lightgrey;
    font-size: 20px;
    text-align: center;
    width: 80%;
    /*margin-top: 20px;*/
}


.scanContactInvoicePriceAtgVM2{

height: 60px;
width: 60px;
border: 1px solid lightgrey;
border-radius: 15px;
font-size: 35px;
padding-top: 7px;
background-color: transparent;
float: right;

}

.scanBadgeVM2{

  background-color: white;
  color: lightgrey;
  font-size: 15px;
  float:;
  border-radius: 5px;
  position: absolute;
  top: 154px;
  padding: 0px 7px;

}





.friendsVM2 b {
    font-size: 30px;
}



.friendsSpanVM2 {

    position: relative;
    top: 76px;
    color: whitesmoke;
    right: 13px;

}







  .MikeVM2{

background-color: white;
color: black;
padding: 24px 5px;
}


.MikeLinearVM2 {

    background-color: white;
    color: black;
    padding: 11px 29px;
    text-align: left;

}

#MySelfVM2{

  background-image: url("../img/Friends/friend1.png");



}



#JeffVM2{

  background-image: url("../img/Friends/friend2.png");



}

#MariaVM2{

  background-image: url("../img/Friends/friend3.png");



}


#JohnVM2{

background-image: url("../img/Friends/friend4.png");


}


#LeahVM2{

background-image: url("../img/Friends/friend5.png");


}


#PaulVM2{

background-image: url("../img/Friends/friend6.png");


}


#JennyVM2{

background-image: url("../img/Friends/friend7.png");


}


#GokuVM2{

background-image: url("../img/Friends/friend8.png");


}







/*//////////////////////////////////////////////////*/









.GiftSentVM2 {

    display: none;
    z-index: 500;
    position: absolute;
    height: 850px;
    width: 550px;
    border: 5px solid white;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    transform: translate(28px, 100px);
    padding: 203px 70px 10px 70px;
    font-family: calibri;
    font-size: 15px;
    opacity: .98;
    color: rgb(102, 102, 102);
    margin-top: 63px;
    box-shadow: 0 1px 5px black;

}




#GiftPayAmountVM2{

    border:none ;
    font-size: 30px;
    width:15%;
}




#happyFriendVM2{

    border:none;
    font-size: 30px;
    width:20%;


}


/*////////*/



/*////////////////////////SendGift///////////////////////////////////////*/








.BuyNewVM2{


}
.CheckBalVM2{

padding-top: 73px;
}

.CheckBalVM2 h1{

  color:lightgrey;
}


.CheckBalVM2 h2{

  text-align:left;
}



.CheckDividers{
color:lightgrey;
width:80%;

}











/*/////////////////////////////////////////////Dark UI2////////////////////////////////////*/





.DARKui1c{

border:none;
background-color:black;


}




.DARKlan1c{

border-bottom:1px solid #286090;
}



.DARKlan1c label, .DARKlan1c button{

 
    border:3px solid rgb(46, 109, 164);
    color:white;

}




#panel1c{

z-index: 1000;
position: absolute;
transform:translate(90px, 60px);
width:450px;
display:none;

}
.panel-heading{
  text-align: center;
}

#panel2{

z-index: 1000;
position: absolute;
transform:translate(90px, 60px);
display:none;
width:450px;

}

.DARKitm1c{

background-color:Black; 
color:grey;
}


/*.DARKitmV1c{
    
    margin:10px 12px 12px 8px ;
    background-color:#424242;
    border:none; 
    border-radius:15px;
    color:white;
    font-family: arial;
box-shadow:inset 0 1px 10px grey;


}*/


/*.DARKitm2 span {
    font-size: 20px;
    color: red;
}
*/




.DARKqty1c{

background-color:#286090;
color:white;
border-top:1px solid #286090;
opacity: .93;

}


#DARKsub1c{

  background-color:rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color:white;  
}  


#DARKadd1c{
  display:;
      background-color:rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color:white; 
}  




    
#DARKqtyvalue1c{
background-color:#286090;
color:white;
}


.DARKnopy2{

background-color:orange;
font-size:20px;

}



.DARKnopy2 label{

    background-color:orange;
/*    border: 4px solid rgb(249, 150,0);*/
    color:black;
}



.DARKfin1c{
background-color:Black;   
}




.DARKbuy2 {

color: #fff;
background-color:#286090;
border:4px solid white;
}





.DARKbuy2 span{

    font-size:13px;
    color:red;
    position: relative;
    top:-10px;

}



.DARKrefill2{

color: #fff;
background-color:#286090;
border:4px solid white;

}

.DARKtotal2{

background-color: #090909;
color:white;


}




.DARKfinB1c{
color: #fff;
background-color:#286090;
position:relative;
border:none;
border-radius:20px;
font-family: arial;
box-shadow: inset 0 1px 5px white;

}

















.finx span{

    font-size:30px;
    color:white;
}



.thankBuy1c {

  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 80px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  transform: translate(2px, -337px);
  box-shadow: 0 1px 10px black;
  font-family: calibri;
  

}

.thankBuy1c p{
font-size:20px;


}


.TapBuy2{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: inset 0 1px 5px white;
  margin: 50px auto;

}

.TapBuy2:hover{
  cursor: pointer;

  
}







.thankRefill1c{
  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 60px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  transform: translate(2px, -337px);
  box-shadow: 0 1px 10px black;
  font-family: calibri;
}

.thankRefill1c p{

font-size:20px;
}




.TapRefill2{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: inset 0 1px 5px white;
  margin: 50px auto;

}

.TapRefill2:hover{
  cursor: pointer;

  
}



.receiptP2 label, .receiptR2 label{

box-shadow: inset 0 1px 5px grey;
font-size: 35px;

}


/*

.thankBuy {

  z-index: 500;
position:absolute;
   height:300px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(60px,  90px);
   padding:30px;
   font-size:20px;
   opacity: .90;

}



.thankRefill11{
    z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;
}*/


.check1c {

    z-index: 500;
    position: absolute;
    height: 400px;
    width: 500px;
    display: none;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    transform: translate(60px, 14px);
    padding: 120px 20px;
    font-size: 20px;
    opacity: 0.95;

}



.check11{
    z-index: 500;
position:absolute;
   height:400;
   width:500;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(110px,  70px);
   padding:20px;
   font-size:20px;
   opacity: .90;
}

.pmethod1c{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}


.seItem1c{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;




}


.seOptions1c {

   z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}







.pmethod1c{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}


.seItem1c{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;




}


.seOptions1c{

   z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;



}


/*///////////////BLACK UI 1c/////////////////*/


.BLACKitm1c{

background-color:Black; 
color:grey;
}


.BLACKitmV1c{
background-color:black;  
color:white;
box-shadow:inset 0 1px 15px white;

}





/*///////////////////////// Progessive disclosure QTY    ////////////////*/



.PDQitm2{
height:279px;
padding: 27px 10px 20px 20px;
}


.PDQqty1c{
    background-color: #286090;
    
    
    padding: 0px 0px 0px 0px;
    color: white;
    font-size: 25px;
    border-top: 1px solid #286090;
    position: absolute;


    z-index: 50;
left: 453px;
opacity: .93;
}


.PDQsub1c {

    display: ;
    height: inherit;
    width: 80px;
    background-color: rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color: white;
    position: relative;
    right: 2px;
    bottom: 6px;
    border-radius: inherit;
    top: -2px;

}


.PDQadd1c {

    display: ;
    height: inherit;
    width: 80px;
    background-color: rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    background-color: rgb(46, 109, 164);
    border: 3px solid rgb(46, 109, 164);
    color: white;
    position: relative;
    right: -4px;
    bottom: 2px;
    border-radius: inherit;

}

.PDQqtyvalue1c {

    background-color: #286090;

    color: white;
    border: none;
    font-size: 50px;
    position: relative;
    right: 4px;
    text-align: center;
    font-size: 64px;
    z-index: 50;

}









/*//////////////////////////////MOBI MOBI 1c/////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/







.ui1cMOBI{

  border-radius: 50px;
}


.lan1cMOBI {
    height: 173px;
    padding: 25px 10px 5px 55px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display:;
    padding: 25px 10px 5px 12px;
}





.LogoVM{

  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/tranlogo/mta2.png");
  background-position: center;
  height: 80px;
border-radius: 27px;
/*position: absolute;
left: 230px;*/
display:;

}


.Vm2LanBMOBI{
  display:none;
}




.LanBMOBIxx {
    background-color: inherit;
    padding: 7px 10px;
    margin: 8px 20px;
    width: 97px;
    font-weight: 1px;
    font-family: arial;
    height: 68px;
    font-size: 28px;
    border: none;
}



.Vm2LanButtonsMOBI {
    background-color: inherit;
    padding: 7px 10px;
    margin: 8px 20px;
    width: 97px;
    font-weight: 1px;
    font-family: arial;
    height: 68px;
    font-size: 28px;
    border: none;
}




.itm1cMOBI {

  padding: 23px 20px 31px 68px;
  height: 740px;
  width: 100%;
  font-size: 15px;
  overflow-y: hidden;
}



.itm1cPhoto{
  display:none;
}


.MOBIshowVMs{
  display:none;
}



.itmV1cMOBI {

    margin: 8px 18px;
        margin-left: 18px;
    margin-left: 18px;
    margin-left: 18px;
    border: none;
    border-radius: 15px;
    width: 477px;
    font-size: 26px;
      height: 122px;
    box-shadow: inset 0 1px 16px ;
    padding: 10px 46px;

}










.BigFont1c {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-family:calibri;
    font-weight: 700;
    color: #6f6e6e;
}

.BigFont1cMOBI {
    display: block;
    width: 31%;
    border: none;
    background-color: transparent;
    font-size: 47px;
    font-family:calibri;
    font-weight: 700;
    color: #6f6e6e;
    text-align: left;
}








.SmallFont1c {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    color: #6f6e6e;

}

.SmallFont1cMOBI{
  display: block;
  width:20%;
  border:none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  color: #6f6e6e;
  text-align: left;

}






.ItemCost1c {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 21px;
    text-align: center;
    color: red;
    font-weight: 600;
}


.ItemCost1cMOBI {
    display: block;
    width: 40%;
    border: none;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    color: red;
    font-weight: 600;
    height: 28px;
    position: relative;
    left: 246px;
    top: -56px;
}




.BalanceV1cMOBI {

    display: none;
    margin: -17px 10px;
    position: relative;
    top: -34px;

}

















.itm1cCost{
   display:block;
    font-size: 20px;
    color: red;
}

.itm1cCostMOBI {

    display: block;
    font-size: 30px;
    color: red;
    font-family: arial;
    height: 28px;

}

.itm1ctext{
   display:block;
   font-size: 20px;
}

.itm1ctextMOBI{
   display:block;
   font-size: 30px;
}


.otherItm1c{
  color:red;
}




.LinearitmV1cMOBI {

    margin: 3px 20px;
    margin-left: 20px;
    margin-left: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 15px;
    width: ;
    font-size: 37px;
    height: 72px;
    box-shadow: none;
    padding: 5px 30px;
    width: 200%;
    text-align: left;
    font-family: calibri;
    font-weight: 50;

    height: 90px;

}



.Linearitm1cCostMOBI {
    display: -inline-block;
    font-size: 34px;
    color: red;
    font-family: calibri;
    position: absolute;
    right: 24px;
    top: 21px;
    font-weight: bold;
}


.Linearitm1ctextMOBI {

    display: inline-block;
    font-size: 34px;

}

.LinearBalanceV1c {
    display: block;
    margin: -24px 10px;
}








.MiniSquareitmV1cMOBI {
    margin: 3px 6px;
        margin-left: 6px;
    margin-left: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 15px;
    width: 166px;
    font-size: 15px;
    height: 174px;
    box-shadow: inset 0 1px 7px grey;
    padding: 17px 25px;
    height: 199px;
}


.MiniSquareitm1cCostMOBI {
    display: block;
    font-size: 21px;
    color: red;
    font-family: arial;
}

.MiniSquareitm1ctextMOBI {
    display: block;
    font-size: 20px;
}


.MiniSquareitm1cPhoto {
    display: block;
    font-size: 102px;
    color: grey;
}











.PhotoLinearitmV1cMOBI {

    margin: 2px 20px;
        margin-left: 20px;
    margin-left: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 15px;
    width: 97%;
    font-size: 23px;
    height: 107px;
    box-shadow: none;
    padding: 13px 30px;
    text-align: right;


}







.BlackLinear {

    background-color: #262626;
}

.whiteLinear {
    color: #000033;
    background-color: whitesmoke;
}






.PhotoLinearitm1cPhoto {
    display: inline-block;
    float: left;
    font-size: 92px;
    margin-top: -8px;
    color:grey;
    margin-right: 60px;
}








.BalanceV1c{
  display:none;
  /*margin: -17px 10px;*/

}
.IhaveV1c{
  font-family:calibri;
  display:inline-block;
  font-size:18px;
  color:grey;

}
.BalQtyV1c {
    font-family: calibri;
    display: inline-block;
    font-size: 21px;
    color: grey;
    font-weight: 700;
    width: 61px;
    background-color: transparent;
    border: none;
    height: 20px;
}

.SinBalQty1c{

  width:24px;
}





.HorizontalitmV1cMOBI {
    margin: 9px 10px;
        margin-left: 10px;
    margin-left: 10px;
    margin-left: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 15px;
    width: 250px;
    font-size: 26px;
    height: 136px;
    box-shadow: inset 0 1px 19px grey;
    padding: 24px 30px;
}


.VerticalitmV1cMOBI {
    margin: 13px 9px;
        margin-left: 9px;
    margin-left: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 15px;
    width: 163px;
    font-size: 26px;
    height: 246px;
    box-shadow: inset 0 1px 15px grey;
    padding: 17px 30px;
}









.Organizeitm1c, .itm1ctoLinear, .itm1ctoMiniSquare, .itm1ctoRegular, .itm1ctoLinearPhoto, .itm1ctoHorizontal {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: grey;
    position: absolute;
    top: 124px;
    right: 4px;
}






.itm1cMOBI li button {
    margin: 7px;
        margin-left: 7px;
    margin-left: 10px;
    height: 70px;
    padding: 10px 20px;
    width: 270px;
}



.qty1cMOBI {

    display: none;
    background-color: #286090;
    height: 95px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    color: white;
    font-size: 25px;
    border-top: 1px solid #286090;
    position: absolute;
    width: 269px;
    border-radius: 33px;
    z-index: 50;
    opacity: .93;
    transform: translate(167px, -332px);

}


.sub1cMOBI {

    display: ;
    height: 140px;
    width: 150px;
    background-color: rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color: white;
    position: relative;
    right: 107px;
    bottom: 6px;
    border-radius: inherit;
    top: -26px;
    font-size: 43px;

}






.add1cMOBI {

    display: ;
    height: 140px;
    width: 150px;
    background-color: rgb(46, 109, 164);
    border: 3px solid rgb(46, 109, 164);
    color: white;
    position: relative;
    right: -148px;
    bottom: 166px;
    border-radius: inherit;
    font-size: 43px;

}




.qtyvalue1cMOBI {

    background-color: #286090;
    height: 55px;
    width: 90px;
    color: white;
    border: none;
    font-size: 50px;
    position: relative;
    right: 85px;
    text-align: center;
    font-size: 71px;
    top: -2px;
    z-index: 50;

}





.nopy2MOBI {
    height: 110px;
    width: 100%;
    padding: 3px 5px 5px 0px;
    font-size: 20px;
}



.nopy2 p {
    margin: 9px 0px 10px 7px;
    float: left;
}


.nopy2MOBI p{

  margin-top: 20px;
  float:left;
}



.PayButtonsMOBI1c {
display:none;
font-size: 40px;
margin
 
}







.payIconXX {
    color: inherit;
    display: inline-block;
    font-size: 65px;
}


.payCardNumXX {
    font-size: 20px;
    display: inline-block;
}








.PayButtonsMOBI1c label {
    display: ;
    font-size: 27px;
    margin: 10px 12px;
     margin-left: 12px;
    width: 124px;
    padding: 10px 0px;
    box-shadow: inset 0 1px 13px;
    height: 85px;
    color: rgb(144, 68, 2);
}


.MTAcreditsxx {
font-family:calibri;
    margin-top: 8px;
    font-size: 17px;
    color: rgb(156, 74, 2);
}




.MTAcreditvaluexx {
font-family:calibri;
height: 25px;
    border: none;
    background-color: transparent;
    color: inherit;
    width: 100%;
    text-align: center;
    font-size: 29px;
    font-weight: 600;
}



.fin1cMOBI {
    
    height: 181px;
    width: 100%;
    padding-top: 30px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}


.finMachine1c {
    height: 87px;
    width: 142px;
    font-size: 18px;
}





/*.buy2MOBI {
    width: auto;
    
    position: relative;
    top: 1px;
   right: -24px;
    border-radius: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-size: 25px;
    height: 120px;
    display: none;
    font-weight:700;
}*/




.FinButton1 {
    left: 0px;
    right: 0px;
    height: 115px;
    display: none;
    font-size: 26px;
    height: 120px;
    width: 143px;
}




.total2MOBI {


 
    display: inline-block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    margin: 0px;
    border: none;
    text-align: center;
    font-family: arial;
    margin: 0px 10px;

}



.refill2MOBI{
  padding-top: 43px;
}





/*.buy2MOBI {
 display:none;
 height:120px;
 width:140px;
 left:-90px;
}*/


/*.refill2MOBI{

border-radius: 20px;
float: right;
font-family: arial;
display: none;
height: 120px;
width: 140px;
left: -45px;
padding: 41px 10px;
font-weight: 700;
top: -2px;
font-size: 27px;

}


#refill2BtnGroup{

    position: absolute;
}
*/
/*.refillDrop{
  width:180px;
}



.refillDrop label{
display:block;
height:70px;
width:160px;
margin:5px 5px;
padding:17px 5px;
background-color:#286090;
font-size: 25px;
box-shadow: inset 0 1px 5px lightgrey;
border-radius: 15px;

}
*/

.refillLabels{
  margin: 5px 10px;
}





.VModels{
border-radius: inherit;
display:none;

}

.allVMModels{
  border-radius: inherit;
  display: block;
}


.VModel2{
  display:block;
}




.fin1c{
  display:none;
}


.fin1c1{
  display:block;
}






/*/////////////////////Fin 1c2/////////////////////////////*/
/*//////////////////////////////////////////////////*/


.fin1c2 {
    padding-top: 20px;
    height: 236px;
}



.total1c2 {

    display: block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;

    border: none;
    text-align: center;
    font-family: arial;

    height: 70px;
    width: 200px;
 
    font-size: 55px;
     font-family: arial;
 
}

.FinButton2{

  width:40%;
  left: 0px;
  right: 0px;
  height: 102px;
}





/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/



/*/////////////////////Fin 1c3/////////////////////////////*/
/*//////////////////////////////////////////////////*/


.fin1c3 {
    padding-top: 20px;
    height: 301px;
}



.total1c3 {
    display: block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    border: none;
    text-align: center;
    font-family: arial;
  
    height: 70px;
    width: 200px;

    font-size: 55px;
     font-family: arial;
}

.FinButton3{

  width:40%;
  left: 0px;
  right: 0px;
  height: 88px;
  margin: 3px;
}





/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/


/*/////////////////////Fin 1c4/////////////////////////////*/
/*//////////////////////////////////////////////////*/


.fin1c4 {
  padding-top: 20px;
  height: 298px;
}



.total1c4 {
    display: block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    border: none;
    text-align: center;
    font-family: arial;

    height: 70px;
    width: 200px;

    font-size: 55px;
     font-family: arial;
}



.FinButton4 {

    width: 85%;
    left: 0px;
    right: 0px;
    height: 83px;
    display: block;
    margin: 8px auto;
}




/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/




/*/////////////////////Fin 1c5/////////////////////////////*/
/*////////////////////////////////////////////////////////*/




.fin1c5 {
  padding-top: 20px;
  height: 430px;
}



.total1c5 {
    display: block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    border: none;
    text-align: center;
    font-family: arial;

    height: 70px;
    width: 200px;

    font-size: 55px;
     font-family: arial;
}



.FinButton5 {
    width: 85%;
    left: 0px;
    right: 0px;
    height: 70px;
    display: block;
    margin: 7px auto;
}




/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/




/*/////////////////////Fin 1c6/////////////////////////////*/
/*//////////////////////////////////////////////////*/




.fin1c6 {

    padding-top: 20px;
    height: 242px;
}



.total1c6 {
    display: block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    border: none;
    text-align: center;
    font-family: arial;

    height: 70px;
    width: 200px;

    font-size: 55px;
     font-family: arial;
}


.FinButton6{

width: 28%;
left: 0px;
right: 0px;
height: 113px;

}





/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/



/*/////////////////////Fin 1c7/////////////////////////////*/
/*//////////////////////////////////////////////////*/




.fin1c7 {

    padding-top: 20px;
    height: 242px;
}



.total1c7 {
    display: block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    border: none;
    text-align: center;
    font-family: arial;

    height: 70px;
    width: 200px;

    font-size: 55px;
     font-family: arial;
}


.FinButton7{

width: 1c%;
left: 0px;
right: 0px;
height: 123px;

}




/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/


/*/////////////////////Fin 1c7/////////////////////////////*/
/*////////////////////////////////////////////////////////*/




.fin1c8 {

    padding-top: 20px;
    height: 310px;
}



.total1c8 {
    display: block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    border: none;
    text-align: center;
    font-family: arial;

    height: 70px;
    width: 200px;

    font-size: 55px;
     font-family: arial;
}


.FinButton8{

width: 40%;
left: 0px;
right: 0px;
height: 95px;
margin: 2px 1px;

}


/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/




.FinIconX{

  font-size: 47px;
  padding-top: 0px;
}



.Confirm {

    background-color: #f90;
    color: black;
    height: 84px;
    width: 184px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 1px 2px grey;
    font-size: 25px;
    font-family: calibri;
    font-weight: 600;
    display: inline-block;
    margin: 2px;

}


/*/////////////////////Fin 1c9/////////////////////////////*/
/*//////////////////////////////////////////////////*/


.fin1c9 {
    padding-top: 20px;
    height: 236px;
}



.total1c9 {

    display: block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;

    border: none;
    text-align: center;
    font-family: arial;

    height: 70px;
    width: 200px;

    font-size: 55px;
     font-family: arial;

}

.FinButton9{

  width:40%;
  left: 0px;
  right: 0px;
  height: 115px;
}





/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/


/*/////////////////////Fin 1c9/////////////////////////////*/
/*//////////////////////////////////////////////////*/


.fin1c10 {
padding-top: 27px;
height: 174px;
}



.total1c10 {

    display: inline-block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;


    border: none;
    text-align: center;
    font-family: arial;

    height: 70px;
    width: 200px;
 
    font-size: 55px;
     font-family: arial;

}

.FinButton10{

  width:26%;
  left: 0px;
  right: 0px;
  height: 115px;
  display: inline-block;
}





/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/




/*/////////////////////Fin 1c2/////////////////////////////*/
/*//////////////////////////////////////////////////*/


.fin1c11 {
    padding-top: 35px;
    /*height: 236px;*/
}



.total1c11 {
    display: inline-block;
    height: 78px;
    width: 298px;
    padding: 0px;
    font-size: 73px;
   margin: 0px;
    border: none;
    text-align: center;
    font-family: arial;
    margin: 0px 10px;
}

.FinButton11{

  width:26%;
  left: 0px;
  right: 0px;
  height: 115px;
  display: inline-block;
  font-size: 25px;
}


.FinButton11Other{

  left: 0px;
  right: 0px;
  height: 115px;
  display: inline-block;
width: 46px;
}




/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/









.HelloNameVMxx {

    display: inline-block;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: georgia;
    float: left;
    margin-left: 20px;
    margin-top: 8px;

}


.MenuVMxx {

    display: inline-block;
    font-size: 30px;
    color: white;
    float: right;
    margin-top: 12px;

}





/*////////////////////////////////////////////////////*/






/*////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////////////////////////////////////////*/

.total1c2, .total1c3, .total1c4, .total1c5, .total1c6, .total1c7, .total1c8, .total1c9 {
 margin: 0px auto 7px auto;
}





.TransportModel12x4{
  display: none;
}

.VmMachineHide{
  display: none;
}