
.Vm1screenTbuttons{

 background-color: rgb(250, 250, 250);
width: 100%;
height: 210px;
padding: 20px 0%;
padding-right: 11%;

}





/*.screenTypeVM{
border:none;
background-color:;
color:grey;
font-family: calibri;
font-size:25px;
display:block;


background-color:;
width: 30%;
display: inline-block;

}*/


#Vm3Mobile, #Vm3Machine{
  background-color: inherit;
  border:none;
height:100px;
width: 100px;
font-size: 73px;
color:black;
}






.UI3buttons{


display: inline;
color: grey;
font-family: calibri;
font-size: 25px;

}






.UI3buttons button{
height: 50px;
width: 70px;
border-radius: 30px;
border: none;
margin: 0px 2px 20px 0px;
display: ;
border: none;
box-shadow: inset 0 1px 3px grey;


}





.UI3buttonsMOBI{
display:none;


color: grey;
font-family: calibri;
font-size: 25px;

}




.UI3buttonsMOBI button{
height: 50px;
width: 70px;
border-radius: 30px;
border: none;
margin: 0px 2px 20px 0px;
display: ;
border: none;
box-shadow: inset 0 1px 3px grey;


}








.ui33{



border: none;
position:;
height:auto;
width:606px;
border-radius:10px;
/*transform: translate(560px,  150px);*/
display:;
background-color: black;
box-shadow: 0 20px 50px grey;
}




/*////////////*/

.ComingSoonVM3 {

height: 980px;
width: 100%;
background-color: white;
position: absolute;
z-index: 500;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
padding: 70px 54px;
display: none;

}




.ComingSoonVM3 p{
  font-family: calibri;
  font-size: 35px;
  background-color: white;
  opacity: .9;
  margin-top: 100px;
}


.Mapinput3{

    width: 500px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 1px 5px grey;
    font-size: 30px;
    text-align: center;

}


.ComingSoonMap{

       background-image: url("../img/Map.png");
       background-size: cover;
}



.ComingSoonServStat{

       background-image: url("../img/status.png");
       background-size: cover;

}

/*////////////*/




.lan33{
    background-color:#286090;

height:60px;
width:100%;
padding:7px 10px 5px 10px;

border-top-left-radius: inherit;

border-top-right-radius: inherit;
background-image: linear-gradient(to bottom right ,#1e5789, #4180b7);

}




#panel33{

z-index: 1000;
position: absolute;
transform:translate(90px, 60px);
width:450px;
display:none;

}
.panel-heading{
  text-align: center;
}




.itm33Background {
    background-color: white;
    background-image: url("../img/mta.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.itm33BackgroundMOBI {
    background-color: white;
    background-image: url("../img/mta.png");
    background-size: 118%;
    background-repeat: no-repeat;
    background-position: center;
}


.itm33 {
    padding: 10px 41px;
    background-color: white;
    height: 290px;
    width: 100%;
    color: grey;
    text-align: center;
    opacity: .96;
}




.itm33 label, .itm33 button{
border:none;
box-shadow: none;
}





.itmV33 {
    text-align: left;
    margin:2px 0px;
    background-color: #fbfbfb;
    border: none;
    border-radius: 15px;
    color: #000033;
    width: 538px;
    height: 50px;
    font-size: 28px;
    padding: 5px;
    font-family: sans-serif;
    font-family: calibri;
    clear: both;
    padding-left: 10px;
}




.DropItmMenu33{
  
min-width:135px; 
font-size: 10px; 
transform:translate(-40px, -250px); 
padding:0px 0px;

  } 




.DropItmMenu33MOBI{

min-width:135px; 
font-size: 10px; 
transform:translate(-40px, -476px); 
padding:0px 0px;

  } 




/*/////////////////////////DarK///////////////*/

.BLACKitm33{
    padding:10px ;
background-color:black;

height:290px;
width:100%;   
color:grey;
text-align:center;


}


.BLACKitm33 label, .BLACKitm33 button{
    
   text-align:left;
    margin:;
    background-color:black;
    border:none; 
    border-radius:15px;
    color:grey;
    width:590px;
    height:50px;
  
    font-size:28px;
    padding:5px;
    margin:0px;
    font-family:sans-serif;
    font-family: arial;
    clear:both;

}




/*///////////////////////////////////////////*/




.itm33 b {
    padding: 10px;
    font-size: 32px;
    color: red;
    float: right;
    top: 0px;
    left: 399px;
    position: absolute;
}


.itm33 i{
top:0px;
clear:both;
left:30px;
color:red;

}



.itm33 li button {
    margin:5px 10px 5px 10px;
    width:500px;
}


/*.qty{

background-color:#286090;
height:68px;auto;
width: 600px;auto;
padding:0px 20px 5px 165px; auto;  
color:white;
font-size:25px;
border-top:1px dashed darkgrey;

}*/




.qty33{
  display:none;
background-color: #286090;
height: 65px;
width: 100%;
padding: 0px 0px 0px 0px;
color: white;
font-size: 25px;
border-top: 1px solid #286090;
position: absolute;

width: 269px;
border-radius: 20px;
z-index: 50;

opacity: .93;
  transform: translate(167px, 125px);
}


.sub33 {

display: ;
height: 88px;
width: 80px;
background-color: rgb(52, 121, 184);
border: 3px solid rgb(52, 121, 184);
color: white;
position: relative;
right: 4px;
bottom: 6px;
border-radius: inherit;
top: -12px;

}


.add33 {

display: ;
height: 88px;
width: 80px;

background-color: rgb(46, 109, 164);
border: 3px solid rgb(46, 109, 164);
color: white;
position: relative;
right: -4px;
bottom: 13px;
border-radius: inherit;

}

.qtyvalue33 {

background-color: #286090;
height: 55px;
width: 90px;
color: white;
border: none;
font-size: 50px;
position: relative;
right: 4px;
text-align: center;
font-size: 64px;
top: 5px;
z-index: 50;

}




#Addvalue33{
  display:none;
}






.py33{

background-color:rgb(249, 162, 0);

height:60px;
width:100%;
padding:3px 5px 5px 10px;  
font-size:20px;
}




.py33 label{
width: 110px;
padding: 11px 8px;
margin: 3px 7px;
margin-left: 7px;
background-color: orange;
border: none;
font-size: 20px;
color: black;
font-family: arial;
box-shadow: inset 0 1px 10px rgb(221, 105, 4);

}




/*the x part*/








.buy33 {
height:85px;
position:relative;
bottom:7px;


display:inline-block;
border-radius:20px;
margin-right:30px;
margin-top:0px;
padding: 11px 22px;
clear:;


}


.buy33 span{
    font-size:13px;
    color:red;
    position: relative;
    top:-10px;

}

.finB33 span{
    font-size:13px;
    color:red;
    position: relative;
    top:-10px;

}







.refill33{
position:relative;
display:inline-block;
border-radius:20px;
margin-right:40px;
margin-top:;
height: 80px;
    float:right;
    margin-left:-30px;
    clear:;
padding: 10px 18px;
}



.finB33{
color: #fff;
background-color:#286090;
position:relative;
border:none;
border-radius:20px;
font-family: arial;
box-shadow: inset 0 1px 5px white;
background-image: linear-gradient(to bottom right ,#1e5789, #4180b7);
font-weight: 700;

}





.total33{
position:relative;
top:10px;
right:20px;
background-color:white;
display:inline-block;
height:70px;
width:200px; 
padding:0px ;
color:black;
font-size:50px;
margin:0px;
border:none;
text-align: center;


}

.fin33{
background-color:white;

height: 105px;
width:100%;
padding:10px 20px 10px 10px;

border-bottom-left-radius: inherit;

border-bottom-right-radius: inherit;




    
}






  .thankBuy33 {

  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 80px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  transform: translate(2px, -56px);
  box-shadow: 0 1px 10px black;
  font-family: calibri;

}
.thankBuy33 p{
font-size:20px;


}
.TapBuy3{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: inset 0 1px 5px white;
 margin: 50px auto;

}

.TapBuy3:hover{
  cursor: pointer;

  
}






.thankRefill33{
  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 60px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  transform: translate(2px, -56px);
  box-shadow: 0 1px 10px black;
  font-family: calibri;
}

.thankRefill33 p{

font-size:20px;
}



.TapRefill3{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: inset 0 1px 5px white;
  margin: 50px auto;

}

.TapRefill3:hover{
  cursor: pointer;

  
}




.receiptP3 label, .receiptR3 label{

box-shadow: inset 0 1px 5px grey;
font-size: 35px;

border-radius: 15px;
width: 100px;

}



.check33{
    z-index: 500;
position:absolute;
   height:400;
   width:500;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(110px,  70px);
   padding:20px;
   font-size:20px;
   opacity: .90;
   box-shadow: 0px 3px 10px black;
}



.pmethod33{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}


.seItem33{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;




}


.seOptions33{

   z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;



}

/*//////////////////////////////////////////////////*/




/*.itm33, .itm33 label, .itm33 button, .fin33{
  background-color: white;


}

.itm33 label, .itm33 button{

  color:#000040;
}

#buy33, #refill33{

  border:6px solid lightgrey;
}*/




/*///////////////////////////////////////////////////*/






/*////////////////////////SendGift///////////////////////////////////////*/



.sendGiftVM3{
  display:none;
  z-index: 500;
position: absolute;
text-align: center;
width: 600px;
height: 975px;
padding: 20px;
background-color:white;
padding: 15px 40px 10px 40px;
font-size:19px;
color:grey;

border-radius: 10px;
margin:4px;
   font-family:candara;

   box-shadow: 0 1px 5px grey;
  

}






.SendRequestVM3{
}



.SendReqVM3 {
    background-color: orange;
    width: 190px;
    display: block;
    border-radius: 15px;

    font-family: calibri;
    font-weight: bold;
height: 81px;
font-size: 37px;
padding: 12px;
margin-top: 34px;
    margin-bottom: 20px;
}




#SendGiftVM3{
border-bottom-right-radius:0px; 
border-top-right-radius:0px;
}


#RequestGiftVM3{
border-bottom-left-radius:0px; 
border-top-left-radius:0px;
}





.gifttotalVM3{

font-size: 50px;
    font-family: ;
    right: 130px;
    top: 114px;
    font-family: calibri;
    width: 100%;
    background-color: whitesmoke;

}



.totalGiftVM3{

    position: relative;
   
    display: inline-block;
    height: 70px;
    width: 149px;
    padding: 0px;
    font-size: 65px;
    margin: 0px;
    border: none;
    text-align: left;
  
    font-family: arial;
    background-color:whitesmoke;
    color:black;
    font-family: calibri;

}

.ConfirmSend{
background-color: #286090;
    color: white;
    height: 74px;
    width: 204px;
    font-size: 32px;
    border-radius: 25px;
    box-shadow: inset 0 1px 10px white;
    border: none;
    margin-top: 20px;

}










.closeGiftVM3 {
    display:none;
    z-index: 1500;
    position: absolute;
    text-align: center;
 width: 87px;

height: 80px;
    padding: 5px;
    background-color: transparent;
    font-size: 15px;
    color: grey;
   transform: translate(-296px, 33px);
    border: none;
    border-radius: 30px;
    font-size: 60px;
    color: red;
    font-family: arial;
}






/*/////////////////////////////////////////////////*/



 .SelectFriendVM3 {

    margin: 36px 20px;
    width: 100%;
 
}



.friendsVM3 {

    display: inline-block;
width: 123px;
height: 134px;
    border-radius: 0px;
    border: 5px solid lightgrey;
    margin: 18px 50px;
    color: whitesmoke;
    font-size: 15px;

}



.friendsVM3 b {
    font-size: 53px;
}


.friendsSpanVM3 {

    position: relative;
    top: 76px;
    color: whitesmoke;
    right: 13px;

}




.friendImputVM3 {

    width: 79px;
    height: 21px;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    border: none;
    background-color: white;
    position: relative;
    color: whitesmoke;
    top: 80px;
    right: 14px;

}


  #MikeVM3{

background-color: white;
color: black;
padding: 24px 5px;



}


#MySelfVM3{

  background-image: url("../img/boy9.png");
background-position:center;
background-size: cover;


}







#JeffVM3{

  background-image: url("../img/boy1.png");
background-position:center;
background-size: cover;


}

#MariaVM3{

  background-image: url("../img/girl.png");
background-position:center;
background-size: cover;


}


#JohnVM3{

background-image: url("../img/boy7.png");
background-position:center;
background-size: cover;


}


#LeahVM3{

background-image: url("../img/girl3.png");
background-position:center;
background-size: cover;

}


#PaulVM3{

background-image: url("../img/boy4.png");
background-position:center;
background-size: cover;

}


#JennyVM3{

background-image: url("../img/girl2.png");
background-position:center;
background-size: cover;
background-color:white;

}


#GokuVM3{

background-image: url("../img/boy5.png");
background-position:center;
background-size: cover;

}







/*//////////////////////////////////////////////////*/









.GiftSentVM3{

display: none;
z-index: 500;
position: absolute;
height: 710px;
width: 550px;
border: 5px solid white;
border-radius: 20px;
background-color: white;
text-align: center;
transform: translate(25px, 100px);
padding: 203px 70px 10px 70px;
font-family: calibri;
font-size: 15px;
opacity: .98;
color: rgb(102, 102, 102);
margin-top: 63px;
box-shadow: 0 1px 5px black;

}





#GiftPayAmountVM3{

    border:none ;
    font-size: 30px;
    width:15%;
}




#happyFriendVM3{

    border:none;
    font-size: 30px;
    width:20%;


}


/*////////*/



/*////////////////////////SendGift///////////////////////////////////////*/


.BuyNewVM3{


}
.CheckBalVM3{

padding-top: 73px;
}

.CheckBalVM3 h1{

  color:lightgrey;
}

.CheckBalVM3 h2{

  text-align:left;
}



.CheckDividers{
color:lightgrey;
width:80%;

}




























/*////////////////////////////DArk UI3/////////////////////////////////////*/

.DARKui33{



border: 1px solid grey;
position:;
height:auto;
width:606px;
border-radius:10px;
/*transform: translate(560px,  150px);*/
display:;
background-color: black;

margin:5% auto 5% auto;
}



.DARKlan33{


height:60px;
width:100%;
padding:7px 10px 5px 10px;

border-top-left-radius: inherit;

border-top-right-radius: inherit;

}

.DARKlan33 label, .DARKlan33 button {
    
    padding:5px;
    margin:5px;
    width:110px;
  
    font-weight: 1px; 
    color:white;
    font-size:18px; 
    font-family: arial;

}



#panel33{

z-index: 1000;
position: absolute;
transform:translate(90px, 60px);
width:450px;
display:none;

}
.panel-heading{
  text-align: center;
}


.DARKitm33{
    padding:10px ;
background-color:Black;

height:290px;auto;
width:100%;   
color:grey;
text-align:center;


}


.DARKitm33 label, .DARKitm33 button{
    
   text-align:left;
    margin:;
    background-color:black;
    border:none; 
    border-radius:15px;
    color:white;
    width:590px;
    height:50px;
  
    font-size:28px;
    padding:5px;
    margin:0px;
    font-family:sans-serif;
    font-family: arial;
    clear:both;

}





.DARKitm33 b{
  padding:10px;
    font-size: 32px;
    color: red;
    float:right;
    
    top:0px;
    left:460px;
    position: absolute;
}



.DARKitm33 i{
top:0px;
clear:both;
left:30px;
color:red;

}



.DARKitm33 li button {
    margin:5px 10px 5px 10px;
}


/*.qty{

background-color:#286090;
height:68px;auto;
width: 600px;auto;
padding:0px 20px 5px 165px; auto;  
color:white;
font-size:25px;
border-top:1px dashed darkgrey;

}*/

#DARKsub33{
display: none;
  z-index: 5;
    display:;
    height:60px;
    width:72px;

    background-color:black;
    border: none;
    color:white;
    margin-right:20px;
    position:absolute;
    transform:translate(-380px, 46px);
    border-radius: 3px;
padding-left: 20px;

    
}  


#DARKadd33{
  display: none;
  z-index: 5;
  display:;
    height:60px;
    width:72px;

    background-color:black;
    border: none;
    color:white;
    margin-right:20px;
    position:absolute;
    transform:translate(-200px, 46px);
    border-radius: 3px;
   padding-left: 21px; 
   padding-top: 10px; 
}  




    
#DARKqtyvalue33{
  display: none;
  z-index: 5;
background-color:black;
height:48px;
width:90px; 


color:white;
border:none;
font-size:40px;
position:absolute;
text-align: center;
transform:translate(-300px, 51px);
font-family: arial;
border-radius: 3px;




}



.DARKpy33{

background-color:rgb(249, 162, 0);

height:60px;auto;
width:100%;
padding:3px 5px 5px 10px;  
font-size:20px;
}

.DARKpy33 label{

width: 110px;
padding: 11px 8px;
margin: 3px 7px;
margin-left: 7px;
background-color: orange;
border: none;
font-size: 20px;
color: black;
font-family: arial;
box-shadow: inset 0 1px 5px rgb(239, 111,0);


}




/*the x part*/








.DARKbuy33 {
color: #fff;
height:85px;
background-color:#286090;
position:relative;
bottom:7px;


display:inline-block;
border:4px solid white;
border-radius:20px;
margin-right:30px;
margin-top:0px;
clear:;
font-family: arial;


}


.DARKbuy33 span{
    font-size:13px;
    color:red;
    position: relative;
    top:-10px;

}








.DARKrefill33{
color: #fff;
background-color:#286090;
position:relative;
display:inline-block;
border:4px solid white;
border-radius:20px;
margin-right:40px;
margin-top:;
height: 80px;
    float:right;
    margin-left:-30px;
    clear:;

}




.DARKfinB33{
color: #fff;
background-color:#286090;
position:relative;
border:none;
border-radius:20px;
font-family: arial;
box-shadow: inset 0 1px 5px white;

}






.DARKtotal33{
position:relative;
top:10px;
right:20px;
background-color:black;
display:inline-block;
height:70px;
width:200px; 
padding:0px ;
color:white;
font-size:50px;
margin:0px;
border:none;
text-align: center;


}

.DARKfin33{
background-color:Black;

height:100px;
width:100%;
padding:10px 20px 10px 10px;

border-bottom-left-radius: inherit;

border-bottom-right-radius: inherit;




    
}

/**/




  .DARKthankBuy33 {

  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 80px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;

  box-shadow: 0 1px 10px black;

}
.DARKthankBuy33 p{
font-size:20px;


}
.TapBuy3{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: inset 0 1px 5px white;
 margin: 50px auto;

}

.TapBuy3:hover{
  cursor: pointer;

  
}






.DARKthankRefill33{
  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 60px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  box-shadow: 0 1px 10px black;
}

.thankRefill33 p{

font-size:20px;
}



/*/////////////////////////////////////////*/

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;

}



/*//////////////////////////////MOBI MOBI 33/////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/







.ui33MOBI{


  border-radius: 50px;
}


.lan33MOBI {
    height: 120px;
    padding: 25px 10px 5px 55px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display:;
}





.Vm3LanBMOBI{
  display:none;
}





.itm33MOBI {
padding: 20px 40px 31px 39px;
height: 720px;
    width: 100%;
    font-size: 15px;
    overflow: hidden;
}

#ride3xbus{
display:none;
}


.itmV33MOBI {

    text-align: left;
    margin: ;
    border: none;
    border-radius: 15px;
    width: 536px;
    height: 91px;
    font-size: 40px;
    padding: 12px 23px;
    margin: 3px 2px;
        margin-left: 2px;
    font-weight: 50;
    font-family: calibri;
    clear: both;

}




.itm33MOBI b {

    padding: 10px;
    font-size: 39px;
    float: right;
    top: 4px;
    left: 370px;
    position: absolute;

}




.BalanceV33{
  display:none;
  margin: -28px 10px;

}
.IhaveV33{
  font-family:calibri;
  display:inline-block;
  font-size:18px;
  color:grey;

}
.BalQtyV33 {
    font-family: calibri;
    display: inline-block;
    font-size: 21px;
    color: grey;
    font-weight: 700;
    width: 61px;
    background-color: transparent;
    border: none;
    height: 20px;
}

.SinBalQty33{

  width:24px;
}
















.dropitm33{

}


.dropitm33MOBI{
  transform: translate(-51px, 344px);
}






.qty33MOBI {

    display: none;
    background-color: #286090;
    height: 95px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    color: white;
    font-size: 25px;
    border-top: 1px solid #286090;
    position: absolute;
    width: 269px;
    border-radius: 33px;
    z-index: 50;
    opacity: .93;
    transform: translate(167px, 246px);

}


.sub33MOBI {

    display:none;
    height: 140px;
    width: 150px;
    background-color: rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color: white;
    position: relative;
    right: 107px;
    bottom: 6px;
    border-radius: inherit;
    top: -26px;
    font-size: 43px;

}






.add33MOBI {

    display:none ;
    height: 140px;
    width: 150px;
    background-color: rgb(46, 109, 164);
    border: 3px solid rgb(46, 109, 164);
    color: white;
    position: relative;
    right: -148px;
    bottom: 166px;
    border-radius: inherit;
    font-size: 43px;

}




.qtyvalue33MOBI {

    background-color: #286090;
    height: 55px;
    width: 90px;
    color: white;
    border: none;
    font-size: 50px;
    position: relative;
    right: 85px;
    text-align: center;
    font-size: 71px;
    top: -2px;
    z-index: 50;

}










.py33MOBI {
    height: 104px;
    width: 100%;
    padding: 3px 5px 5px 5px;
    font-size: 20px;
}




.py33 p{
  margin-top: 10px;
float:left;
}

.py33MOBI p{
  margin-top: 20px;
float:left;
}


.PayButtonsMOBI33 {
display:none;
font-size: 40px;
 
}

.PayButtonsMOBI33 label{
display: ;
font-size: 27px;
margin: 13px 12px;
width: 124px;
padding: 7px 0px;
box-shadow: inset 0 1px 13px rgb(239, 111,0);
 
}




.fin33MOBI {
    
    height: 181px;
    width: 100%;
    padding-top: 30px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}









.buy33MOBI {
    width: auto;
    
    position: relative;
    top: 1px;
   right: -24px;
    border-radius: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-size: 25px;
    height: 120px;
}







.total33MOBI {

    position: relative;
    bottom: -18px;
    display: inline-block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    margin: 0px;
    border: none;
    text-align: center;
    transform: translate(-96px, 5px);
    font-family: arial;
    left: 102px;

}






.refill33MOBI {

    top: 0px;
    right: -12px;
    border-radius: 20px;
    height: ;
    float: right;
    font-family: arial;
    font-size: 25px;
    height: 120px;
    left: 17px;

}









.buy33MOBI {
 display:none;
 height:120px;
 width:140px;
 left:-11px;
}





.refill33MOBI{
  display:none;
  height:120px;
  width:140px;
left: 22px;
padding: 41px 10px;
}









.refillLabels{
  margin: 5px 10px;
}

