
.Vm1screenTbuttons{
 background-color: rgb(250, 250, 250);
width: 100%;
height: 210px;
padding: 20px 0%;
padding-right: 11%;
}





#Vm4Mobile, #Vm4Machine{
  background-color: inherit;
  border:none;
height:100px;
width: 100px;
font-size: 73px;
color:black;
}



.UI4buttons{


display:;

color: grey;
font-family: calibri;
font-size: 25px;

}






.UI4buttons button{
height: 50px;
width: 70px;
border-radius: 30px;
border: none;
margin: 0px 2px 20px 0px;
display: ;
border: none;
box-shadow: inset 0 1px 3px grey;


}





.UI4buttonsMOBI{

display: none;

color: grey;
font-family: calibri;
font-size: 25px;

}






.UI4buttonsMOBI button{
height: 50px;
width: 70px;
border-radius: 30px;
border: none;
margin: 0px 2px 20px 0px;
display: ;
border: none;
box-shadow: inset 0 1px 3px grey;


}





.ui44{

border: none;
position:;
height:auto;
width:606px;
border-radius:10px;
/*transform: translate(560px,  150px);*/
display:;
background-color: black;
box-shadow: 0 20px 50px grey;

}





/*////////////*/

.ComingSoonVM4 {

height: 980px;
width: 100%;
background-color: white;
position: absolute;
z-index: 500;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
padding: 70px 54px;
display: none;

}




.ComingSoonVM4 p{
  font-family: calibri;
  font-size: 35px;
  background-color: white;
  opacity: .9;
  margin-top: 100px;
}


.Mapinput4{

    width: 500px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 1px 5px grey;
    font-size: 30px;
    text-align: center;

}


.ComingSoonMap{

       background-image: url("../img/Map.png");
       background-size: cover;
}



.ComingSoonServStat{

       background-image: url("../img/status.png");
       background-size: cover;

}

/*////////////*/




.lan44{
    background-color:#286090;

height:60px;
width:100%;
padding:7px 10px 5px 10px;


border-top-left-radius: inherit;
border-top-right-radius: inherit; 

background-image: linear-gradient(to bottom right ,#1e5789, #4180b7);
}





#panel44{

z-index: 1000;
position: absolute;
transform:translate(90px, 60px);
width:450px;
display:none;

}
.panel-heading{
  text-align: center;
}

.itm44Background {
    background-color: white;
    background-image: url("../img/mta.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.itm44BackgroundMOBI {
    background-color: white;
    background-image: url("../img/mta.png");
    background-size: 118%;
    background-repeat: no-repeat;
    background-position: center;
}




.itm44 {

    padding-top: 35px;
    background-color: white;
    height: 371px;
    width: 100%;
    opacity: .96;

}


.DropItmMenu44{
  
min-width:135px; 
font-size: 10px; 
transform:translate(-40px, -250px); 
padding:0px 0px;

  } 




.DropItmMenu44MOBI{

min-width:135px; 
font-size: 10px; 
transform:translate(-40px, -476px); 
padding:0px 0px;

  } 



#label1{
  float:left;
  margin-left:35px;
  
}


#label1, #label2, #Label3{

  font-family: candara;
  color: grey;
  display: block;
}


.label1, .label2{

display: inline-block;
font-family: candara;
color: grey;
width: 49%;
font-size: 15px;

}



.label3{

display: inline-block;
font-family: candara;
color: grey;
width: 100%;
font-size: 15px;

margin: 14px auto;

}


.label4, .label5{

display: inline-block;
font-family: candara;
color: grey;
width: 20%;
font-size: 15px;

}

.labelMOBI{
font-size:23px;
margin: 10px 0px;
}


.selectmenu3{

   height:59px;
   padding:5px;
    margin:5px 5px 5px 12px;
    width:100px;
    background-color:white;
    border:none;
    box-shadow: inset 0 1px 10px;
    font-weight: 1px; 
    color:#000033;
    font-size:22px; 
    font-family: arial;
    text-align:center;
    border-radius: 15px;
    
  

}

.selectmenu3MOBI {
    height: 102px;
    padding: 5px;
    margin: 5px 5px 5px 1px;
    width: 117px;
    background-color: white;
    border: none;
    box-shadow: inset 0 1px 15px;
    font-weight: 1px;
    color: #000033;
    font-size: 35px;
    font-family: arial;
    text-align: center;
    border-radius: 30px;
}






.selectmenu{

   height:59px;
   padding:5px;
    margin:5px 5px 5px 12px;
    width:239px;
    background-color:white;
    border:none;
    box-shadow: inset 0 1px 10px;
    font-weight: 1px; 
    color:#000033;
    font-size:22px; 
    font-family: arial;
    text-align:center;
    border-radius: 15px;
}


.selectmenu2{
  height:65px;
   padding:5px;
    margin:5px auto;
    width:510px;
    background-color:white;
    border:none;
    box-shadow: inset 0 1px 10px;
    font-weight: 1px; 
    color:#000033;
    font-size:22px; 
    font-family: arial;
    text-align:center;
    border-radius: 15px;
    display: block;

}


#selectmenu2 option{


    font-size:18px; 
    font-family: arial;
    text-align:center;

}


/*.quantity44{

  height: 60px;
  width:100%;
  background-color:#286090; 
  padding:20px 20px 0px 20px;
}
*/




.quantity44 {

    position: absolute;
    height:103px;
    width: 120px;
    background-color: #286090;
    padding: 28px 10px 28px 10px;
    right: ;
    font-size: 40px;
    color: white;
    border-radius: 20px;

    border: none;
    transform: translate(-69px, -176px);
    box-shadow: 0 1px 5px grey;
    text-align: center;
}





.quantity44 option{

    font-size: 20px;
    color: white;
    text-align: center;
}


#selectmenu option{


    font-size:25px; 
    font-family: arial;
    text-align:center;

}





.itm44 b{
  padding:10px;
    font-size: 32px;
    color: red;
    float:right;
    
    top:0px;
    left:460px;
    position: absolute;
}

.itm44 button{
background-color:black;
border:none ; 
border-radius:15px;
color:white;
margin-top:0px;
width:450px;
text-align: left;
font-size:25px;
font-family: arial;
clear:both;
margin-bottom: 0px

}



.itm44 i{
top:0px;
clear:both;
left:30px;
color:red;

}



.itm44 li button {
    margin:5px 10px 5px 10px;
}







.qty44{
  display:none;
background-color: #286090;
height: 65px;
width: 100%;
padding: 0px 0px 0px 0px;
color: white;
font-size: 25px;
border-top: 1px solid #286090;
position: absolute;

width: 269px;
border-radius: 20px;
z-index: 50;

opacity: .93;
  transform: translate(167px, -159px);
}


.sub44 {

display: ;
height: 88px;
width: 80px;
background-color: rgb(52, 121, 184);
border: 3px solid rgb(52, 121, 184);
color: white;
position: relative;
right: 2px;
bottom: 6px;
border-radius: inherit;
top: -12px;

}


.add44 {

display: ;
height: 88px;
width: 80px;
background-color: rgb(52, 121, 184);
border: 3px solid rgb(52, 121, 184);
background-color: rgb(46, 109, 164);
border: 3px solid rgb(46, 109, 164);
color: white;
position: relative;
right: -4px;
bottom: 13px;
border-radius: inherit;

}

.qtyvalue44 {

background-color: #286090;
height: 55px;
width: 90px;
color: white;
border: none;
font-size: 50px;
position: relative;
right: 4px;
text-align: center;
font-size: 64px;
top: 5px;
z-index: 50;

}







.py44{

background-color:rgb(249, 162, 0);

height:60px;
width:100%;
padding:3px 5px 5px 10px;  
font-size:20px;
}



.py44 label{

width: 110px;
padding: 11px 8px;
margin: 3px 7px;
margin-left: 7px;
background-color: orange;
border: none;
font-size: 20px;
color: black;
font-family: arial;
box-shadow: inset 0 1px 10px rgb(221, 105, 4);

}




/*the x part*/








#buy44 {
height:85px;
position:relative;
bottom:10px;


display:inline-block;
border-radius:20px;
margin-right:30px;
margin-top:0px;
padding: 11px 22px;
clear:;



}


.buy44 span{
    font-size:13px;
    color:red;
    position: relative;
    top:-10px;

}




.finB44 span{
    font-size:13px;
    color:red;
    position: relative;
    top:-10px;

}



#refill44{
position:relative;
right:10px;
display:inline-block;
border-radius:20px;

height: 80px;
float:right;
padding: 10px 18px;

}


.finB44{
color: #fff;
background-color:#286090;
position:relative;
border:none;
border-radius:20px;
font-family: arial;
box-shadow: inset 0 1px 5px white;
background-image: linear-gradient(to bottom right ,#1e5789, #4180b7);
font-weight: 700;

}




.total44{
position:relative;
background-color:white;
display:inline-block;
height:70px;
width:200px; 
padding:0px ;
color:black;
font-size:55px;
margin:0px;
border:none;
text-align: center;


}

.fin44{
background-color:white;

height: 105px;
width:100%;
padding:10px 20px 10px 10px; 

border-bottom-left-radius: inherit;

border-bottom-right-radius: inherit;
 

    
}




.thankBuy44 {

  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 80px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
 transform: translate(2px, -56px);
  box-shadow: 0 1px 10px black;
font-family: calibri;
}
.thankBuy44 p{
font-size:20px;


}
.TapBuy44{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
    box-shadow: inset 0 1px 5px white;
    margin: 50px auto;

}

.TapBuy44:hover{
  cursor: pointer;

  
}






.thankRefill44{
  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 60px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  box-shadow: 0 1px 10px black;
  font-family: calibri;
  transform: translate(2px, -56px);

}

.thankRefill44 p{

font-size:20px;
}



.TapRefill44{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: inset 0 1px 5px white;
  margin: 50px auto;

}

.TapRefill44:hover{
  cursor: pointer;

  
}



.receiptP4 label, .receiptR4 label{

box-shadow: inset 0 1px 5px grey;
font-size: 35px;

border-radius: 15px;
width: 100px;


}




.check44{
    z-index: 500;
position:absolute;
   height:400;
   width:500;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(110px,  70px);
   padding:20px;
   font-size:20px;
   opacity: .90;
   box-shadow: 0px 1px 10px black;
}



.pmethod44{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}


.seItem44{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;




}


.seOptions44{

   z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;



}


.hilivm{
color: #333;
background-color:black;
border-color: #ccc;
  
}

.hilivm:focus{
color: #333;
background-color:black;
border-color: #ccc;
  
}





/*////////////////////////SendGift///////////////////////////////////////*/



.sendGiftVM4{
  display:none;
  z-index: 500;
position: absolute;
text-align: center;
width: 600px;
height: 975px;
padding: 20px;
background-color:white;
padding: 15px 40px 10px 40px;
font-size:19px;
color:grey;

border-radius: 10px;
margin:4px;
   font-family:candara;

   box-shadow: 0 1px 5px grey;
  

}






.SendRequestVM4{
}



.SendReqVM4 {
    background-color: orange;
    width: 190px;
    display: block;
    border-radius: 15px;

    font-family: calibri;
    font-weight: bold;
height: 81px;
font-size: 37px;
padding: 12px;
margin-top: 34px;
    margin-bottom: 20px;
}




#SendGiftVM4{
border-bottom-right-radius:0px; 
border-top-right-radius:0px;
}


#RequestGiftVM4{
border-bottom-left-radius:0px; 
border-top-left-radius:0px;
}





.gifttotalVM4{

font-size: 50px;
    font-family: ;
    right: 130px;
    top: 114px;
    font-family: calibri;
    width: 100%;
    background-color: whitesmoke;

}



.totalGiftVM4{

    position: relative;
   
    display: inline-block;
    height: 70px;
    width: 149px;
    padding: 0px;
    font-size: 65px;
    margin: 0px;
    border: none;
    text-align: left;
  
    font-family: arial;
    background-color:whitesmoke;
    color:black;
    font-family: calibri;

}

.ConfirmSend{
background-color: #286090;
    color: white;
    height: 74px;
    width: 204px;
    font-size: 32px;
    border-radius: 25px;
    box-shadow: inset 0 1px 10px white;
    border: none;
    margin-top: 20px;

}










.closeGiftVM4 {
    display:none;
    z-index: 1500;
    position: absolute;
    text-align: center;
 width: 87px;

height: 80px;
    padding: 5px;
    background-color: transparent;
    font-size: 15px;
    color: grey;
   transform: translate(-296px, 33px);
    border: none;
    border-radius: 30px;
    font-size: 60px;
    color: red;
    font-family: arial;
}






/*/////////////////////////////////////////////////*/



 .SelectFriendVM4 {

    margin: 36px 20px;
    width: 100%;
 
}




.friendsVM4 b {
    font-size: 53px;
}


.friendsVM4 {

    display: inline-block;
width: 123px;
height: 134px;
    border-radius: 0px;
    border: 5px solid lightgrey;
    margin: 18px 50px;
    color: whitesmoke;
    font-size: 15px;

}



.friendsSpanVM4 {

    position: relative;
    top: 76px;
    color: whitesmoke;
    right: 13px;

}




.friendImputVM4 {

    width: 79px;
    height: 21px;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    border: none;
    background-color: white;
    position: relative;
    color: whitesmoke;
    top: 80px;
    right: 14px;

}


  #MikeVM4{

background-color: white;
color: black;
padding: 24px 5px;



}



#MySelfVM4{

  background-image: url("../img/boy9.png");
background-position:center;
background-size: cover;


}




#JeffVM4{

  background-image: url("../img/boy1.png");
background-position:center;
background-size: cover;


}

#MariaVM4{

  background-image: url("../img/girl.png");
background-position:center;
background-size: cover;


}


#JohnVM4{

background-image: url("../img/boy7.png");
background-position:center;
background-size: cover;


}


#LeahVM4{

background-image: url("../img/girl3.png");
background-position:center;
background-size: cover;

}


#PaulVM4{

background-image: url("../img/boy4.png");
background-position:center;
background-size: cover;

}


#JennyVM4{

background-image: url("../img/girl2.png");
background-position:center;
background-size: cover;
background-color:white;

}


#GokuVM4{

background-image: url("../img/boy5.png");
background-position:center;
background-size: cover;

}







/*//////////////////////////////////////////////////*/









.GiftSentVM4{

display: none;
z-index: 500;
position: absolute;
height: 710px;
width: 550px;
border: 5px solid white;
border-radius: 20px;
background-color: white;
text-align: center;
transform: translate(25px, 100px);
padding: 203px 70px 10px 70px;
font-family: calibri;
font-size: 15px;
opacity: .98;
color: rgb(102, 102, 102);
margin-top: 63px;
box-shadow: 0 1px 5px black;

}





#GiftPayAmountVM4{

    border:none ;
    font-size: 30px;
    width:15%;
}




#happyFriendVM4{

    border:none;
    font-size: 30px;
    width:20%;


}


/*////////*/



/*////////////////////////SendGift///////////////////////////////////////*/



.BuyNewVM4{


}
.CheckBalVM4{

padding-top: 73px;
}

.CheckBalVM4 h1{

  color:lightgrey;
}


.CheckBalVM4 h2{

  text-align:left;
}



.CheckDividers{
color:lightgrey;
width:80%;

}













/*////////////////////////////////Dark UI4//////////////////////////////////////////////////////*/





.DARKui44{



border:none;
position:;
height:auto;
width:606px;

/*transform: translate(560px,  150px);*/

background-color: black;

}






.DARKlan44{


height:60px;
width:100%;
padding:7px 10px 5px 10px;


border-top-left-radius: inherit;

border-top-right-radius: inherit; 

}




.DARKlan44 label, .DARKlan44 button{
    


}




#panel44{

z-index: 1000;
position: absolute;
transform:translate(90px, 60px);
width:450px;
display:none;

}
.panel-heading{
  text-align: center;
}

.DARKitm44{
  background-color:black;
  width: 100%;
}

#label1{
  float:left;
  margin-left:35px;
}

.DARKselectmenu{
    background-color:rgb(36, 36, 36);
    box-shadow: inset 0 1px 5px grey;
    color:white;
}


.DARKselectmenu2{

    background-color:rgb(36, 36, 36);
    box-shadow: inset 0 1px 5px grey;
    color:white;
}

.DARKselectmenu3{

    background-color:rgb(36, 36, 36);
    box-shadow: inset 0 1px 5px grey;
    color:white;
}


#DARKselectmenu2 option{


    font-size:18px; 
    font-family: arial;
    text-align:center;

}


.DARKquantity44{


  background-color:#286090; 
 
}

#DARKselectmenu option{


    font-size:18px; 
    font-family: arial;
    text-align:center;

}





.DARKitm44 b{
  padding:10px;
    font-size: 32px;
    color: red;
    float:right;
    
    top:0px;
    left:460px;
    position: absolute;
}

.DARKitm44 button{
background-color:black;
border:none ; 
border-radius:15px;
color:white;
margin-top:0px;
width:450px;
text-align: left;
font-size:25px;
font-family: arial;
clear:both;
margin-bottom: 0px

}

.DARKitm44 i{
top:0px;
clear:both;
left:30px;
color:red;

}



.DARKitm44 li button {
    margin:5px 10px 5px 10px;
}




.DARKsub44{
    display:none;
    height:59px;
    width:80px;
 background-color:rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color:white;
    position:relative;
    right:0px;
    bottom:31px;
    
    border-radius: 5px;


    
}  


.DARKadd44{
  display:none;
    height:59px;
    width:80px;
 background-color:rgb(52, 121, 184);
    border: 3px solid rgb(52, 121, 184);
    color:white;
    position:relative;
    right:0px;
    bottom:31px;
    
    border-radius: 5px;
    
}  




    
.DARKqtyValue44{
background-color:#286090;
height:55px;
width:90px; 


color:white;
border:none;
font-size:50px;
position:relative;
right:0px;
text-align: center;
font-size: 50px;
bottom:18px;

}




.DARKpy44{

background-color:rgb(249, 162, 0);

height:60px;
width:100%;
padding:3px 5px 5px 10px;  
font-size:20px;
}

.DARKpy44 label{

width: 110px;
padding: 11px 8px;
margin: 3px 7px;
margin-left: 7px;
background-color: orange;
border: none;
font-size: 20px;
color: black;
font-family: arial;
box-shadow: inset 0 1px 5px rgb(239, 111,0);

}




/*the x part*/








.DARKbuy44 {

height:85px;

position:relative;
bottom: 10px;
right: 40px;

display:inline-block;

border-radius:20px;




}


.DARKbuy44 span{
    font-size:13px;
    color:red;
    position: relative;
    top:-10px;

}








.DARKrefill44{
position:relative;
right:10px;
display:inline-block;
border-radius:20px;

height: 80px;
float:right;


}


.DARKfinB44{
color: #fff;
background-color:#286090;
position:relative;
border:none;
border-radius:20px;
font-family: arial;
box-shadow: inset 0 1px 5px white;

}


.DARKtotal44{
position:relative;
background-color:black;
display:inline-block;
height:70px;
width:200px; 
padding:0px ;
color:white;
font-size:55px;
margin:0px;
border:none;
text-align: center;


}

.DARKfin44{
background-color:Black;

height:100px;
width:100%;
padding:10px 20px 10px 10px; 

border-bottom-left-radius: inherit;

border-bottom-right-radius: inherit;
 

    
}



.DARKthankBuy44 {

  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 80px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  box-shadow: 0 1px 10px black;

}
.DARKthankBuy44 p{
font-size:20px;


}
.DARKTapBuy44{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
    box-shadow: inset 0 1px 5px white;
    margin: 50px auto;

}

.DARKTapBuy44:hover{
  cursor: pointer;

  
}






.DARKthankRefill44{
  z-index: 500;
  position: absolute;
  height: 480px;
  width: 550px;
  display: none;
  margin: 10px 29px;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  /* transform: translate(60px, -20px); */
  padding: 60px 30px 10px 30px;
  font-size: 20px;
  opacity: .96;
  box-shadow: 0 1px 10px black;
}

.DARKthankRefill44 p{

font-size:20px;
}



.DARKTapRefill44{
  color:white;
  background-color:grey;
  width:140px;
  height:60px;

  padding:12px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: 0 1px 5px white;
  margin: 50px auto;

}

.DARKTapRefill44:hover{
  cursor: pointer;

  
}



.DARKreceiptP4 label, .DARKreceiptR4 label{

box-shadow: inset 0 1px 5px grey;
font-size: 35px;

}




.DARKcheck44{
    z-index: 500;
position:absolute;
   height:400;
   width:500;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(110px,  70px);
   padding:20px;
   font-size:20px;
   opacity: .90;
}



.DARKpmethod44{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;


}


.DARKseItem44{
 z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;




}


.DARKseOptions44{

   z-index: 500;
position:absolute;
   height:320px;
   width:480px;
   display:none;
   border:5px solid white;
   border-radius:20px;
   background-color: white;
   text-align: center;
   transform: translate(40px,  60px);
   padding:30px 30px;
   font-size:20px;
   opacity: .90;



}





/*/////////////////////////////////*/



/*//////////////////////////////MOBI MOBI 44/////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/







.ui44MOBI{

 
  border-radius: 50px;
}


.lan44MOBI {
    height: 120px;
    padding: 25px 10px 5px 55px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display:;
}




.Vm4LanBMOBI{
  display:none;
}






.itm44MOBI {
padding: 103px 21px 31px 11px;
height: 720px;
    width: 100%;
    font-size: 15px;
    overflow-y: hidden;
}


.itm44MOBI label, .itm44MOBI button {
    margin: 15px 20px;
        margin-left: 20px;
    border: none;
    border-radius: 15px;
     width: ;
    font-size: 30px;
    height: 50px;
    padding: 20px 30px;
}







#label1MOBI {

    float: left;
    margin-left: 1px;

}





.selectmenuMOBI {

    float: left;
    height: 95px;
    padding: 5px;
    margin: 5px 5px 25px 12px;
    width: 269px;
    border: none;
    font-weight: 1px;
    font-size: 31px;
    font-family: arial;
    text-align: center;
    border-radius: 33px;
    box-shadow: inset 0 1px 15px;

}




.selectmenu2MOBI {

    height: 102px;
    padding: 5px;
    margin: 5px auto;
    width: 510px;  
    border: none;
    font-weight: 1px;
    font-size: 31px;
    font-family: arial;
    text-align: center;
    border-radius: 33px;
    box-shadow: inset 0 1px 15px;

}




.itm44MOBI span{
font-size: 30px;
}







.qty44MOBI {

    display: none;
    background-color: #286090;
    border-radius: 10px;
    padding: 15px 3px;
    height: 447px;
    width: 302px;
    text-align: center;
    color: white;
    font-size: 36px;
    border-top: 1px solid #286090;
    position: absolute;
    z-index: 30;
    opacity: .93;
    transform: translate(151px, -526px);

}








.sub44MOBI{

display: ;
height: 88px;
width: 80px;
background-color: rgb(52, 121, 184);
border: 3px solid rgb(52, 121, 184);
color: white;
position: relative;
right: 2px;
bottom: 6px;
border-radius: inherit;
top: -12px;

}




.add44MOBI{

display: ;
height: 88px;
width: 80px;
background-color: rgb(52, 121, 184);
border: 3px solid rgb(52, 121, 184);
background-color: rgb(46, 109, 164);
border: 3px solid rgb(46, 109, 164);
color: white;
position: relative;
right: -4px;
bottom: 13px;
border-radius: inherit;

}



.qtyvalue44MOBI {

background-color: #286090;
height: 55px;
width: 90px;
color: white;
border: none;
font-size: 50px;
position: relative;
right: 4px;
text-align: center;
font-size: 64px;
top: 5px;
z-index: 50;

}










.py44MOBI {
    height: 104px;
    width: 100%;
    padding: 3px 5px 5px 5px;
    font-size: 20px;
}




.PayButtonsMOBI44 {
display:none;
font-size: 40px;
 
}

.PayButtonsMOBI44 label{
display: ;
font-size: 27px;
margin: 13px 12px;
width: 124px;
padding: 7px 0px;
box-shadow: inset 0 1px 13px rgb(239, 111,0);
 
}



.py44 p{
float:left;
margin-top: 10px;
}

.py44MOBI p{
float:left;
margin-top: 22px;
}




.fin44MOBI{
    
    height: 181px;
    width: 100%;
    padding-top: 30px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}








.buy44MOBI {
    width: auto;
    
    position: relative;
    top: 1px;
   right: -24px;
    border-radius: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-size: 25px;
    height: 120px;
}


.buy44{
  display:none;

}





.total44MOBI {

    position: relative;
    bottom: -18px;
    display: inline-block;
    height: 70px;
    width: 238px;
    padding: 0px;
    font-size: 65px;
    margin: 0px;
    border: none;
    text-align: center;
    transform: translate(-96px, 5px);
    font-family: arial;
    left: 102px;

}




 .refill44MOBI {

    top: 0px;
    right: -12px;
    border-radius: 20px;
    height: ;
    float: right;
    font-family: arial;
    font-size: 25px;
    height: 120px;
    left: 17px;

}





.buy44MOBI {
 display:none;
 height:120px;
 width:140px;
 left:-11px;
}




.refill44MOBI{
  display:none;
  height:120px;
  width:140px;
left: 22px;
padding: 41px 10px;
}







/*//////////////////////////////////////////////////////*/
