{% extends "layouts/base.html" %}

{% load wagtailcore_tags wagtailimages_tags longclawcore_tags %}

{% block body_class %}template-productindex{% endblock %}

{% block content %}
<div class="content">
    <h1>{{ page.title }}</h1>

    <div class="card-grid">
        {% for post in page.get_children %}
        {% with post=post.specific %}
            <div class="card">
                {% image post.images.first.image max-400x400 %}
                <div class="card-body">
                    <a href="{% pageurl post %}"><h2>{{ post.title }}</h2></a>
                    <p>{{ post.description|richtext }}</p>
                    <p>From &euro;{{ post.price_range.0 }}</p>
                    <select id="variant-select">
                        {% for variant in page.variants.all %}
                          <option value="{{variant.id}}">{{variant.ref}}</option>
                        {% endfor %}
                    </select>
                    <button id="add-to-basket-btn">Add To Basket</button>   
                </div>        
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% longclaw_vendors_bundle %}
{% longclaw_client_bundle %}
<script type="text/javascript">
const btn = document.getElementById('btn-add-to-basket');
const select = document.getElementById('variant-select');

btn.addEventListener("click", (e) => {
  e.preventDefault();
  const variant_id = select.options[select.selectedIndex].value;
  longclawclient.basketList.post({
    prefix: "{% longclaw_api_url_prefix %}",
    data: { variant_id }
  });
});

</script>