{% extends "pages/dashboard_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load socialaccount %}
{% block content-modal %}
<div class="row">
    <div id="circle">My Account</div>
</div>
<div class="row">
    <div class="col-xs-6 cockpit-menu"  onclick="location.href='{% url 'socialaccount_connections' %}';">
            <i class="fa fa-search"></i>
            <br>
            <a href="{% url 'socialaccount_connections' %}">View Connections</a>   
    </div>
    <div class="col-xs-6 cockpit-menu">
            <i class="fa fa-search"></i>
            <br>
            <a href="{% url 'home' %}">View Profle</a>
    </div>
    <div class="col-xs-6 cockpit-menu" >
            <i class="fa fa-cog"></i>
            <br>
            <a href="{% url 'home' %}">Profle Edit</a>
    </div>    
    <div class="col-xs-6 cockpit-menu">
        <i class="fa fa-address-book"></i>
        <br>
        <a href="{% provider_login_url "facebook" process="connect" %}">Connect a Facebook Account</a>    
    </div>
    <div class="col-xs-6 cockpit-menu">
        <i class="fa fa-address-book"></i>
        <br>
        <a href="{% provider_login_url "twitter" process="connect" %}">Connect a Twitter Account</a>    
    </div>
    <div class="col-xs-6 cockpit-menu" onclick="location.href='{% url 'home' %}';">
        <i class="fa fa-address-book"></i>
        <br>
        <a href="{% provider_login_url "instagram" process="connect" %}">Connect an Instagram Account</a>
    </div>
    <div class="col-xs-6 cockpit-menu">
        <i class="fa fa-address-book"></i>
        <br>
        <a href="{% provider_login_url "linkedin_oauth2" process="connect" %}">Connect a Linkedin Account</a>
    </div>
<div class="col-xs-6 cockpit-menu">
        <i class="fa fa-address-book"></i>
        <br>
        <a href="{% provider_login_url "google" process="connect" %}">Connect a Gmail Account</a>
    </div>
</div>
{% endblock %}
