
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="#">
									Registration
								</a>
							</li>
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="#">
									Log in
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="#">DashBoard</a> 
                        - Fuel your Tank <a target="_blank" href="#">GoFuel</a>
                        - Near By Fuel Stations <a target="_blank" href="#">Locations</a>
                        - Latest Industry News <a target="_blank" href="#">News</a>
                        - Update your Profile <a target="_blank" href="#">Account</a>
                        - Order History <a target="_blank" href="#">Orders</a>
                        - Bank Cards <a target="_blank" href="#">Bank Cards</a>
                        - Near By Fuel Stations <a target="_blank" href="#">Locations</a>
                        - Near By Fuel Stations <a target="_blank" href="#">Locations</a>
					</div>				
				</div>
            </footer>
            
